{% set apps =

  {
     "RB": {
        "applicantName": "Robin Baxter",
        "applicantTelephone": "0117923443",
        "applicantEmail": "r.baxter@aspirewaste.net",
        "operatorType": "Individual",
        "operatorResponsiblePerson": "Jo Miller",
        "operatorAddress": "Deanery Road, Bristol, BS1 5AH",
        "operatorContactName": "Sarah Miller",
        "operatorContactTelephone": "01179488422",
        "operatorContactAddress": "44, Deanery Road, Bristol, BS1 5AH",
        "operatorContactEmail": "example.email@inter.net",
        "siteLocation": "Deanery Road, Bristol, BS1 5AH",
        "exemption1": "S2: Storing waste in a secure place",
        "exemption2": "U9: Using waste to manufacture finished goods",
        "exemption3": "",
        "exemption4": "",
        "exemption5": "",
        "exemption6": ""
     },
     "AB": {
        "applicantName": "Anne Brown",
        "applicantTelephone": "0234567890",
        "applicantEmail": "abrown@gmail.com",
        "operatorType": "Partnership",
        "operatorResponsiblePerson": "Bob Jones",
        "operatorAddress": "25 Acacia Avenue",
        "operatorContactName": "Alex Cowes",
        "operatorContactTelephone": "07890345214",
        "operatorContactAddress": "The Farm, Old Street, Compton Vivey",
        "operatorContactEmail": "Framadmin@outlook.com",
        "siteLocation": "Red Meadow, Foxcote",
        "exemption1": "T2 recovering textiles",
        "exemption2": "T5 screening and blending waste",
        "exemption3": "T26 treatment of kitchen waste in a wormery",
        "exemption4": "T30 recover silver",
        "exemption5": "",
        "exemption6": ""
     }
  }

-%}
