{% set apps =

  {
     "RB": {
        "applicantName": "Robin Baxter",
        "applicantTelephone": "0117923443",
        "applicantEmail": "r.baxter@aspirewaste.net",
        "operatorType": "Individual",
        "operatorResponsiblePerson": "Jo Miller",
        "operatorAddress": "Deanery Road, Bristol, BS1 5AH",
        "operatorContactName": "Sarah Miller",
        "operatorContactTelephone": "01179488422",
        "operatorContactAddress": "44, Deanery Road, Bristol, BS1 5AH",
        "operatorContactEmail": "example.email@inter.net",
        "siteLocation": "Deanery Road, Bristol, BS1 5AH",
        "exemption1": "D1	Depositing waste from dredging inland waters",
        "exemption2": "D7	Burning waste in the open",
        "exemption3": "U1	Use of waste in construction",
        "exemption4": "U10	Spreading waste to benefit agricultural land",
        "exemption5": "U8	Using waste for a specified purpose",
        "exemption6": "T6	Treating waste wood and waste plant matter by chipping, shredding, cutting or pulverising"
     },
     "AB": {
        "applicantName": "Anne Brown",
        "applicantTelephone": "0234567890",
        "applicantEmail": "abrown@gmail.com",
        "operatorType": "Partnership",
        "operatorResponsiblePerson": "Bob Jones",
        "operatorAddress": "25 Acacia Avenue",
        "operatorContactName": "Alex Cowes",
        "operatorContactTelephone": "07890345214",
        "operatorContactAddress": "The Farm, Old Street, Compton Vivey",
        "operatorContactEmail": "Framadmin@outlook.com",
        "siteLocation": "Red Meadow, Foxcote",
        "exemption1": "D1	Depositing waste from dredging inland waters",
        "exemption2": "D7	Burning waste in the open",
        "exemption3": "U1	Use of waste in construction",
        "exemption4": "U10	Spreading waste to benefit agricultural land",
        "exemption5": "U8	Using waste for a specified purpose",
        "exemption6": "T6	Treating waste wood and waste plant matter by chipping, shredding, cutting or pulverising"
     }
  }

-%}
