
{% extends "layout.html" %}

{% block pageTitle %}
  Renewal information
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% if data.renewalChoice=="Yes" %}
          {% set formAction = "declaration" %}
      {% endif %}

      {% if data.renewalChoice=="No" %}
          {% set formAction = "country" %}
      {% endif %}

      <form action="{{ formAction }}" method="post" class="form">

        {% if data.renewalChoice=="Yes" %}
            <h1 class="govuk-heading-l">
              You are about to renew for 3 years with the current details
            </h1>
            <p class="govuk-body">
              You'll get a new registration number.
            </p>
        {% endif %}

        {% if data.renewalChoice=="No" %}
            <h1 class="govuk-heading-l">
              We'll fill in the form with your current registration details
            </h1>
            <p class="govuk-body">
              Check the details as you go through each screen.
            </p>
            <p class="govuk-body">
              You can change any details if you need to.
            </p>
            <p class="govuk-body">
              You'll have a chance to make a final check before you renew.
            </p>
            <p class="govuk-body">
              Your registration is for 3 years. You'll get a new registration number.
            </p>
        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
