
{% extends "layout.html" %}

{% block pageTitle %}
  How to register your waste exemptions | Gov.uk
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">Register your waste exemptions: environmental permits (England)</h1>
      <p class="govuk-body-l">
        How to register or renew a waste exemption, including agricultural waste, WEEE, bulk exemptions and linear networks.
      </p>
      <div class="govuk-phase-banner">
      </div>
      <br />
      <p class="govuk-body-s">Published 1 February 2016 <br />
        Last updated 6 April 2018<br />
        From: <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs"><b>Department for Environment, Food & Rural Affairs</b></a> and <a href="https://www.gov.uk/government/organisations/environment-agency"><b>Environment Agency</b></a>
      </p>
      <br />
      <!--
        <strong class="govuk-tag">
        &nbsp;Applies to: <strong>England (see guidance for Northern Ireland, Scotland, and Wales</strong>)
      </strong>
      -->
      <p class="govuk-body">Contents
      <br />
        &mdash; Before you register<br />
        &mdash; How much an exemption costs<br />
        &mdash; How long an exemption lasts<br />
        &mdash; Choose the right exemptions<br />
        &mdash; Start a new registration or renewal<br />
        &mdash; Additional requirements<br />
        &mdash; When you do not need to register<br />
        &mdash; Register T11 WEEE exemption<br />
        &mdash; Register bulk waste exemptions at multiple sites<br />
        &mdash; Register linear networks<br />
        &mdash; Contact<br />
      <br />
      </p>











      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>

      <p>You can change the service name by editing the file '/app/config.js'.</p>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
      <h1 class="govuk-heading-l">Test prototypes</h1>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="xxx">Guidance page test</a></li>
      </ul>
    </div>
</div>

{% endblock %}
