
{% extends "layout.html" %}

{% block pageTitle %}
  Waste exemptions guidance | How to register | Gov.uk
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">Waste exemptions guidance: How to register or renew (England)</h1>
      <p class="govuk-body-l">
        How to register or renew a waste exemption, including agricultural waste, WEEE, bulk exemptions and linear networks.
      </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <br />
      <p class="govuk-body-s">Published 1 February 2016 <br />
        Last updated 6 April 2018<br />
        From: <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs"><b>Department for Environment, Food & Rural Affairs</b></a> and <a href="https://www.gov.uk/government/organisations/environment-agency"><b>Environment Agency</b></a>
      </p>
      <br />
      <!--
        <strong class="govuk-tag">
        &nbsp;Applies to: <strong>England (see guidance for Northern Ireland, Scotland, and Wales</strong>)
      </strong>
      -->
      <div class="govuk-!-padding-bottom-7">
        <div class="govuk-!-padding-bottom-1"><p class="govuk-body-s">Contents</p></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#before">Before you register</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#choose">Choose the right exemptions</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#howmuch">How much an exemption costs</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#howlong">How long an exemption lasts</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#start">Start a new registration or renewal</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#additional">Additional requirements</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#when">When you do not need to register</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#t11">Register T11 WEEE exemption</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#bulk">Register bulk waste exemptions at multiple sites</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#linear">Register linear networks</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#contact">Contact</a><br /></div>
      </div>
      <p>
        You may need an environmental permit if your business uses, treats, recovers, stores or disposes of waste.
      </p>

      <p>
        Some waste operations are exempt from needing a permit and can operate under a waste exemption instead.
      </p>

      <p>
        If you’ve read the guidance to check your waste operation meets all the limits and conditions of an exemption, then:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>check you have all the <a href="#">right information ready</a> before you start your registration</li>
        <li>start to <a href="#">register or renew (also known as re-register) your waste exemptions online</a> for your site in England</li>
        <li>leave us feedback so we can improve the service</li>
        </ul>

      <h2 class="govuk-heading-l" id="before">Before you register</h2>

      <p>
        <h3 class="govuk-heading-m">Meet the waste exemption general rules</h3>

      <p>
        You must register your waste exemption(s).
      </p>

      <p>
        You can only register a waste exemption if your waste operation:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>meets all the limits and conditions of an exemption</li>
        <li>does not harm the environment or human health</li>
      </ul>

      <p>
       If you do not follow these rules your waste operation is not exempt and the Environment Agency can ‘de-register’ your exemption.
      </p>

      <p>
        It may also take enforcement action or prosecute you if you do not meet the limits and conditions of an exemption or if you’ve harmed people or the environment.
      </p>

      <p>
        If you cannot meet the limits and conditions of an exemption you must apply for an <a href="#">environmental permit</a>.
      </p>

      <h3 class="govuk-heading-m">Have the information you'll need ready to register online</h3>

      <p>
        To complete your online registration you’ll need the:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>number and description for each waste exemption you want to register (for example, U1 - use of waste in construction) - you can find these in the <a href="#">exemption guidance</a></li>
        <li>name and address of the individual, business or organisation that will be carrying out the waste operations</li>
        <li>registration number and registered address details if you’re registering waste exemptions for a limited company or limited liability partnership</li>
        <li>name and address of the person who will be sent the registration confirmation</li>
        <li>address and postcode for all the locations where the exempt activity is being carried out, or a <a href="#">12-digit National Grid reference</a> if there is no postcode</li>
      </ul>

      <h3 class="govuk-heading-l" id="choose">Choose the right exemptions</h3>

      <p>
        You must read the waste exemptions guidance to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>decide which waste exemptions apply to your operations</li>
        <li>check you can meet all the limits and conditions set</li>
      </ul>


<!-- This is the accordion section that we're currently testing -->

<div class="govuk-accordion" data-module="accordion" id="accordion-with-summary-sections">

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
          View a list of all available waste exemptions
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        Waste exemptions for using waste, treating waste, disposing of waste, and storing waste.
      </div>
    </div>
    <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">

      <p class="govuk-body govuk-!-font-weight-bold">Using waste</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemptions-using-waste">U1 use of waste in construction</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">U2 use of baled end-of-life tyres in construction</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u3-construction-of-entertainment-or-educational-installations">U3 construction of entertainment or educational installations</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u4-burning-of-waste-as-a-fuel-in-a-small-appliance">U4 burning of waste as a fuel in a small appliance</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u5-using-biodiesel-produced-from-waste-as-fuel">U5 using biodiesel produced from waste as fuel</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u6-using-sludge-to-re-seed-a-waste-water-treatment-plant">U6 using sludge to re-seed a waste water treatment plant</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u7-using-effluent-to-clean-a-highway-gravel-bed">U7 using effluent to clean a highway gravel bed</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u8-using-waste-for-a-specified-purpose">U8 using waste for a specified purpose</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u9-using-waste-to-manufacture-finished-goods">U9 using waste to manufacture finished goods</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u10-spreading-waste-to-benefit-agricultural-land">U10 spreading waste to benefit agricultural land</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u11-spreading-waste-to-benefit-non-agricultural-land">U11 spreading waste to benefit non-agricultural land</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u12-using-mulch">U12 using mulch</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u13-spreading-plant-matter-to-provide-benefits">U13 spreading plant matter to provide benefits</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u14-incorporating-ash-into-soil">U14 incorporating ash into soil</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u15-pig-and-poultry-ash">U15 pig and poultry ash</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u16-using-depolluted-end-of-life-vehicles-for-parts">U16 using depolluted end-of-life vehicles for parts</a>
        </li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-2">&nbsp;</p>

      <p class="govuk-body govuk-!-font-weight-bold">Treating waste</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemptions-treating-waste">T1 cleaning, washing, spraying or coating relevant waste</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t2-recovering-textiles">T2 recovering textiles</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t4-preparatory-treatments-baling-sorting-shredding-etc">T4 preparatory treatments, such as, baling, sorting, shredding</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t5-screening-and-blending-waste">T5 screening and blending waste</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t6-treating-waste-wood-and-waste-plant-matter-by-chipping-shredding-cutting-or-pulverising">T6 treating waste wood and waste plant matter by chipping, shredding, cutting or pulverising</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t8-mechanically-treating-end-of-life-tyres">T8 mechanically treating end-of-life tyres</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t9-recovering-scrap-metal">T9 recovering scrap metal</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t10-sorting-mixed-waste">T10 sorting mixed waste</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t11-repairing-or-refurbishing-waste-electrical-and-electronic-equipment-weee">T11 repairing or refurbishing waste electrical and electronic equipment (WEEE)</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t12-manually-treating-waste">T12 manually treating waste</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t13-treating-waste-food">T13 treating waste food</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t14-crushing-and-emptying-vehicle-waste-oil-filters">T14 crushing and emptying vehicle waste oil filters</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t15-treating-waste-aerosol-cans">T15 treating waste aerosol cans</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t16-treating-waste-toner-and-ink-cartridges">T16 treating waste toner and ink cartridges</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t17-crushing-waste-fluorescent-tubes">T17 crushing waste fluorescent tubes</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t18-using-flocculants-to-remove-water-from-waste">T18 using flocculants to remove water from waste</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t19-physical-and-chemical-treatment-of-waste-edible-oil-and-fat-to-produce-biodiesel">T19 physical and chemical treatment of waste edible oil and fat to produce biodiesel</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t20-treating-waste-at-a-water-treatment-works">T20 treating waste at a water treatment works</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t21-recover-waste-at-a-waste-water-treatment-works">T21 recover waste at a waste water treatment works</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t23-aerobic-composting-and-associated-prior-treatment">T23 aerobic composting and associated prior treatment</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t24-anaerobic-digestion-at-premises-used-for-agriculture-and-burning-resulting-biogas">T24 anaerobic digestion at premises used for agriculture and burning resulting biogas</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t25-anaerobic-digestion-at-premises-not-used-for-agriculture-and-burning-resulting-biogas">T25 anaerobic digestion at premises not used for agriculture and burning resulting biogas</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t26-treatment-of-kitchen-waste-in-a-wormery">T26 treatment of kitchen waste in a wormery</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t27-treatment-of-sheep-dip-using-organophosphate-degrading-enzyme">T27 treatment of sheep dip using organophosphate-degrading enzyme</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t28-sort-and-denature-controlled-drugs-for-disposal">T28 sort and denature controlled drugs for disposal</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t29-treatment-of-non-hazardous-pesticide-washings-by-carbon-filtration-for-disposal">T29 treatment of non-hazardous pesticide washings by carbon filtration for disposal</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t30-recover-silver">T30 recover silver</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t31-recover-monopropylene-glycol-from-aircraft-antifreeze-fluids">T31 recover monopropylene glycol from aircraft antifreeze fluids</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t32-treatment-of-waste-in-a-biobed-or-biofilter">T32 treatment of waste in a biobed or biofilter</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t33-recover-central-heating-oil-by-filtration">T33 recover central heating oil by filtration</a>
        </li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-2">&nbsp;</p>

      <p class="govuk-body govuk-!-font-weight-bold">Disposing of waste</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemptions-disposing-of-waste">D1 depositing waste from dredging inland waters</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-d2-depositing-waste-from-a-railway-sanitary-convenience">D2 depositing waste from a railway sanitary convenience</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-d3-depositing-waste-from-a-portable-sanitary-convenience">D3 depositing waste from a portable sanitary convenience</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-d4-depositing-agricultural-waste-consisting-of-plant-tissue-under-a-plant-health-notice">D4 depositing agricultural waste consisting of plant tissue under a Plant Health Notice</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-d5-depositing-waste-samples-for-testing-or-analysis">D5 depositing waste samples for testing or analysis</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-d6-disposal-by-incineration">D6 disposal by incineration</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-d7-burning-waste-in-the-open">D7 burning waste in the open</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-d8-burning-waste-at-a-port-under-a-plant-health-notice">D8 burning waste at a port under a Plant Health Notice</a>
        </li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-2">&nbsp;</p>

      <p class="govuk-body govuk-!-font-weight-bold">Storing waste</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemptions-storing-waste">S1 storing waste in secure containers</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-s2-storing-waste-in-a-secure-place">S2 storing waste in a secure place</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-s3-storing-sludge">S3 storing sludge</a>
        </li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-2">&nbsp;</p>

    </div>
  </div>

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          View a list of common agricultural waste exemptions
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
        Exemptions for waste activities that commonly take place on farms
      </div>
    </div>
    <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">

      <p class="govuk-body govuk-!-font-weight-bold">Using waste: common agriculture waste exemptions</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemptions-using-waste">U1 use of waste in construction</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">U2 use of baled end-of-life tyres in construction</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u4-burning-of-waste-as-a-fuel-in-a-small-appliance">U4 burning of waste as a fuel in a small appliance</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u5-using-biodiesel-produced-from-waste-as-fuel">U5 using biodiesel produced from waste as fuel</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u8-using-waste-for-a-specified-purpose">U8 using waste for a specified purpose</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u9-using-waste-to-manufacture-finished-goods">U9 using waste to manufacture finished goods</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u10-spreading-waste-to-benefit-agricultural-land">U10 spreading waste to benefit agricultural land</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u12-using-mulch">U12 using mulch</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u13-spreading-plant-matter-to-provide-benefits">U13 spreading plant matter to provide benefits</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u14-incorporating-ash-into-soil">U14 incorporating ash into soil</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u15-pig-and-poultry-ash">U15 pig and poultry ash</a>
        </li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-2">&nbsp;</p>

      <p class="govuk-body govuk-!-font-weight-bold">Treating waste: common agricultural waste exemptions</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemptions-treating-waste">T1 cleaning, washing, spraying or coating relevant waste</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t4-preparatory-treatments-baling-sorting-shredding-etc">T4 preparatory treatments, such as, baling, sorting, shredding</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t5-screening-and-blending-waste">T5 screening and blending waste</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t6-treating-waste-wood-and-waste-plant-matter-by-chipping-shredding-cutting-or-pulverising">T6 treating waste wood and waste plant matter by chipping, shredding, cutting or pulverising</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t8-mechanically-treating-end-of-life-tyres">T8 mechanically treating end-of-life tyres</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t13-treating-waste-food">T13 treating waste food</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t19-physical-and-chemical-treatment-of-waste-edible-oil-and-fat-to-produce-biodiesel">T19 physical and chemical treatment of waste edible oil and fat to produce biodiesel</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t23-aerobic-composting-and-associated-prior-treatment">T23 aerobic composting and associated prior treatment</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t24-anaerobic-digestion-at-premises-used-for-agriculture-and-burning-resulting-biogas">T24 anaerobic digestion at premises used for agriculture and burning resulting biogas</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t27-treatment-of-sheep-dip-using-organophosphate-degrading-enzyme">T27 treatment of sheep dip using organophosphate-degrading enzyme</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t29-treatment-of-non-hazardous-pesticide-washings-by-carbon-filtration-for-disposal">T29 treatment of non-hazardous pesticide washings by carbon filtration for disposal</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-t32-treatment-of-waste-in-a-biobed-or-biofilter">T32 treatment of waste in a biobed or biofilter</a>
        </li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-2">&nbsp;</p>

      <p class="govuk-body govuk-!-font-weight-bold">Disposing of waste: common agricultural waste exemptions</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemptions-disposing-of-waste">D1 depositing waste from dredging inland waters</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-d3-depositing-waste-from-a-portable-sanitary-convenience">D3 depositing waste from a portable sanitary convenience</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-d4-depositing-agricultural-waste-consisting-of-plant-tissue-under-a-plant-health-notice">D4 depositing agricultural waste consisting of plant tissue under a Plant Health Notice</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-d6-disposal-by-incineration">D6 disposal by incineration</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-d7-burning-waste-in-the-open">D7 burning waste in the open</a>
        </li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-2">&nbsp;</p>

      <p class="govuk-body govuk-!-font-weight-bold">Storing waste: common agricultural waste exemptions</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemptions-storing-waste">S1 storing waste in secure containers</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-s2-storing-waste-in-a-secure-place">S2 storing waste in a secure place</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-s3-storing-sludge">S3 storing sludge</a>
        </li>
      </ul>



    </div>
  </div>

</div>

<p class="govuk-body govuk-!-margin-bottom-2">&nbsp;</p>

<!-- End of accordion section -->

      <h2 class="govuk-heading-l" id="howmuch">How much an exemption costs</h2>

      <p>
        It’s free to register all waste exemptions except for a T11 WEEE exemption which costs £1,221.
      </p>

      <h2 class="govuk-heading-l" id="howlong">How long an exemption lasts</h2>

      <p>
        Each waste exemption registration lasts 3 years so you’ll need to re-register the exemption if you’re still carrying out that waste operation after 3 years.
      </p>

      <h2 class="govuk-heading-l" id="start">Start a new registration or renewal</h2>

      <p>Start to <a href="https://wasteexemptions.service.gov.uk/">register or renew (also known as re-register) your waste exemptions online</a> for your site in England. Please provide feedback on the service so we can keep improving it.</p>

      <a href="https://wasteexemptions.service.gov.uk/">
        <button type="submit" class="govuk-button">
         Register or renew now
        </button>
      </a>

      <h2 class="govuk-heading-l" id="additional">Additional requirements</h2>

      <p>
        You may also need to get planning permission if you’re carrying out an exempt waste operation.
      </p>

      <h2 class="govuk-heading-l" id="when">When you do not need to register</h2>

      <p>
        You do not need to register the 3 non waste framework directive exemptions covering the temporary storage of waste, but you must follow the limits and conditions they set out.
      </p>

      <h2 class="govuk-heading-l" id="t11">Register T11 WEEE exemption</h2>

      <p>
        The T11 exemption to treat WEEE cannot be registered online.
      </p>

      <p>
        Instead, you’ll need to fill in <a href="#">form WEEEX001</a> and send it to the Environment Agency address on the form.
      </p>

      <p>
        It costs £1,221 to register and you can pay by:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>credit or debit card - complete <a href="#">form CC1</a> and send it with your registration form</li>        <li>cheque</li>
        <li>electronic transfer</li>
      </ul>

      <h2 class="govuk-heading-l" id="bulk">Register bulk waste exemptions at multiple sites</h2>

      <p>
        A multiple or bulk registration lets you register the same exemption at more than 30 sites.
      </p>

      <p>
        To register your site in England, you need to complete the <a href="#">bulk registration part of this spreadsheet</a> and email it to <a href="#">enquiries@environment-agency.gov.uk</a>.
      </p>

      <h2 class="govuk-heading-l" id="linear">Register linear networks</h2>

      <p>
        In most cases, an exempt waste operation happens at a place you can define by a single postcode or grid reference. If it takes place on a stretch of road, river, canal or railway (a linear network) you may not be able to pinpoint the activity to one place.
      </p>

      <p>
        A linear network registration allows you to register U1, U12, D1 and D2 exemptions when you cannot pinpoint the location of your waste operation to a defined postcode or grid reference.
      </p>

      <p>
        To register, you need to complete the <a href="#">linear network registration part of this spreadsheet</a> and email it to <a href="#">enquiries@environment-agency.gov.uk</a>.
      </p>

      <p>
        Find out more about <a href="#">how the Environment Agency defines one place</a> for a waste exemption registration.
      </p>

      <h2 class="govuk-heading-l" id="contact">Contact</h2>

      <p>
        Contact the Environment Agency if you have queries about waste exemptions or need help registering.
      </p>

      <h3 class="govuk-heading-m">General enquiries</h3>

      <p>
        National Customer Contact Centre<br />
        PO Box 544<br />
        Rotherham<br />
        S60 1BY
      </p>

      <p>
        Email<br />
        enquiries@environment-agency.gov.uk
      </p>

      <p>
        Telephone<br />
        03708 506 506
      </p>

      <p>
        Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)<br />
        +44 (0) 114 282 5312
      </p>

      <p>
        Monday to Friday, 8am to 6pm
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



    </div>
</div>

{% endblock %}
