
{% extends "layout.html" %}

{% block pageTitle %}
  Waste exemptions guidance | How to register | Gov.uk
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">Using waste: waste exemptions</h1>
      <p class="govuk-body-l">Read through the list of exemptions for using waste. The using waste exemptions cover operations such as reusing, burning and spreading specific waste materials. You need to comply with the limits and conditions set out. </p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <br />
      <p class="govuk-body-s">Published 1 February 2016 <br />
        Last updated 6 April 2018<br />
        From: <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs"><b>Department for Environment, Food & Rural Affairs</b></a> and <a href="https://www.gov.uk/government/organisations/environment-agency"><b>Environment Agency</b></a>
      </p>
      <br />
      <!--
        <strong class="govuk-tag">
        &nbsp;Applies to: <strong>England (see guidance for Northern Ireland, Scotland, and Wales</strong>)
      </strong>
      -->
      <p>
A waste exemption is a waste operation that is exempt from needing an <a href="https://www.gov.uk/guidance/check-if-you-need-an-environmental-permit">environmental permit</a>. Each exemption has specific limits and conditions you need to operate within. Each registration lasts 3 years. </p>
<p>The exemptions for using waste cover a range of operations, such as reusing, burning and spreading specific waste materials. These include using waste to produce heat or power, spreading waste on agricultural land, and reusing tyres and end-of-life vehicle parts.</p>
<p>
If you want to operate under a waste exemption you must register that exemption with the Environment Agency. If you don’t, you will not be exempt from needing a permit.</p>
<p>Registering an exemption does not remove the need to apply for other permits or permissions. For example, you may need planning permission for your waste operation, or a water discharge permit. 
</p>
 <h2 class="govuk-heading-m">Treating waste: waste exemptions</h2>
<ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemptions-using-waste">U1 use of waste in construction</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">U2 use of baled end-of-life tyres in construction</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u4-burning-of-waste-as-a-fuel-in-a-small-appliance">U4 burning of waste as a fuel in a small appliance</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u5-using-biodiesel-produced-from-waste-as-fuel">U5 using biodiesel produced from waste as fuel</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u8-using-waste-for-a-specified-purpose">U8 using waste for a specified purpose</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u9-using-waste-to-manufacture-finished-goods">U9 using waste to manufacture finished goods</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u10-spreading-waste-to-benefit-agricultural-land">U10 spreading waste to benefit agricultural land</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u12-using-mulch">U12 using mulch</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u13-spreading-plant-matter-to-provide-benefits">U13 spreading plant matter to provide benefits</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u14-incorporating-ash-into-soil">U14 incorporating ash into soil</a>
        </li>
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/waste-exemption-u15-pig-and-poultry-ash">U15 pig and poultry ash</a>
        </li>
      </ul>
