
{% extends "layout.html" %}

{% block pageTitle %}
  What do you want to do?
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/address-reuse-check" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What do you want to do?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="branching-1" name="branching" type="radio" value="start">
                <label class="govuk-label govuk-radios__label" for="branching-1">
                  Start a new waste exemption registration
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="branching-2" name="branching" type="radio" value="reregister">
                <label class="govuk-label govuk-radios__label" for="branching-2">
                  Re-register an exemption that’s expiring soon
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="branching-3" name="branching" type="radio" value="change">
                <label class="govuk-label govuk-radios__label" for="branching-3">
                  Change the details of an existing registration
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
