
{% extends "layout.html" %}

{% block pageTitle %}
  Waste exemptions guidance | How to register | Gov.uk
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">Register or renew waste exemptions (England)</h1>
      <p class="govuk-body-l">
Some waste activities are exempt from needing a permit, and can operate under a waste exemption instead. Read the guidance below to see if there is an exemption suitable for your waste operation.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <br />
      <p class="govuk-body-s">Published 1 February 2016 <br />
        Last updated XX July 2019<br />
        From: <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs"><b>Department for Environment, Food & Rural Affairs</b></a> and <a href="https://www.gov.uk/government/organisations/environment-agency"><b>Environment Agency</b></a>
      </p>
      <br />
      <!--
        <strong class="govuk-tag">
        &nbsp;Applies to: <strong>England (see guidance for Northern Ireland, Scotland, and Wales</strong>)
      </strong>
      -->
      <div class="govuk-!-padding-bottom-7">
        <div class="govuk-!-padding-bottom-1"><p class="govuk-body-s">Contents</p></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#what">What is a waste exemption?</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#rules">Waste exemption rules and limits</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#costs">Exemption costs and renewal</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#choose">Choose the right exemption</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#registerrenew">Register or renew waste exemptions</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#linear">Bulk registrations and linear networks</a><br /></div>
        <div class="govuk-!-padding-bottom-1">&mdash; <a href="#contact">Contact the Environment Agency</a><br /></div>

<h2 class="govuk-heading-l" id="what">What is a waste exemption?</h2>
<p>If your business uses, treats, recovers, stores or disposes of waste, you may need an environmental permit.</p>
<p>However if your waste operation is below specific limits, it may be exempt from needing a permit and can operate under a waste exemption instead.</p>      

<h2 class="govuk-heading-l" id="rules">Waste exemption rules and limits</h2>
<p>Each exemption has strict limits and conditions. You must check the waste exemption guidance to make sure you can follow them.</p>
<p>If your waste operation does not meet the limits and conditions of an exemption you will need an environmental permit.</p>
<p>If you do not follow the rules, your waste operation is not exempt and the Environment Agency will ‘de-register’ your exemption. If you do not meet the limits and conditions of an exemption, or your waste operation has harmed people or the environment, you may be prosecuted.</p>
     
<h2 class="govuk-heading-l" id="costs">Exemption costs and renewal</h2>
<p>Waste exemptions are free except for the T11 WEEE exemption which costs £1,221.</p>
<p>An exemption registration lasts 3 years. You’ll need to renew the exemption after 3 years if you are still using it.</p>

<h2 class="govuk-heading-l" id="choose">Choose the right exemptions</h2>

<p><a href="https://www.gov.uk/government/collections/waste-exemptions-storing-waste">Storing waste</a></p>
<p>These cover the storage of certain waste materials in secure containers and at secure sites, and storing sludge.</p>
<p><a href="https://www.gov.uk/government/collections/waste-exemptions-using-waste">Using waste</a></p>
<p>These cover operations such as using waste in construction, spreading certain materials on the land, and burning of waste as fuel.</p>
<p><a href="https://www.gov.uk/government/collections/waste-exemptions-using-waste">Disposing of waste</a></p>
<p>These cover operations such as depositing sanitary waste, depositing agricultural waste and spoil from dredging inland waters, and burning specific waste in an incinerator or in the open.</p>
<p><a href="https://www.gov.uk/government/collections/waste-exemptions-using-waste">Treating waste</a></p>
<p>These cover operations such as preparing, recovering, sorting and treating certain waste materials, such as waste wood and plant matter.</p>
<p class="govuk-body govuk-!-margin-bottom-5">&nbsp;</p>

<h3 class="govuk-heading-m" id="farming">Common farming exemptions</h3>
<p>These give examples only and are not official advice. You are responsible for selecting the exemptions that are suitable for your waste operation.</p>
<p><a href="#">Disposing of waste</a></p>

<h2 class="govuk-heading-l" id="registerrenew">Register or renew waste exemptions</h2>
<p>When you have found the right exemption, and are satisfied that you can meet the limits and conditions, you need to register it with us.</p>
<p>Your waste exemption registration will need to be renewed every 3 years, if you are still using it.</p>

<h3 class="govuk-heading-m">Before you start</h3>
<p>Before you start, you will need:</p>
<ul class="govuk-list govuk-list--bullet">
<li>The code numbers of the exemptions you want to register (for example, U1 - use of waste in construction).</li>
<li>The name, address and contact details of the person, business or organisation carrying out the waste operation.</li>
<li>The site address and postcode where the exempt activity is being carried out, or a 12-digit National Grid reference if there is no postcode.</li>
<li>For a limited company or limited liability partnership, the company registration number and registered address.</li>
</ul>

<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start">
  Start now
</a>

<h2 class="govuk-heading-l" id="T11">T11 WEEE exemption</h2>
<p>The T11 exemption to treat waste electrical and electronic equipment (WEEE) cannot be registered online. To register a T11 WEEE exemption, complete <a href="https://www.gov.uk/government/publications/form-wex001-registering-exempt-waste-operations">form WEEEX001</a> and send it to the Environment Agency address on the form. It costs £1,221 to register this exemption.</p>

<h2 class="govuk-heading-l" id="linear">Bulk registrations and linear networks</h2>

<h3 class="govuk-heading-m">Road, river, canal or railway - linear networks</h3>
<p>If you want to register U1, U12, D1 or D2 exemptions on a stretch of road, river, canal or railway (a linear network) you should complete the <a href="https://www.gov.uk/government/publications/waste-exemptions-bulk-registration-form">linear network registration form</a>.</p>
<p>The current online registration system only works for sites that have a <a href="https://www.gov.uk/government/publications/the-meaning-of-place-under-the-new-waste-exemption-system">single defined place</a>.</p>

<h2 class="govuk-heading-l" id="contact">Contact the Environment Agency</h2>
<p>General enquiries<br />
National Customer Contact Centre<br />
PO Box 544<br />
Rotherham<br />
S60 1BY</p>

<p>
Telephone<br />
03708 506 506<br />
Monday to Friday, 8am to 6pm</p>

<p>
Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)<br />
+44 (0) 114 282 5312<br />
<p>Monday to Friday, 8am to 6pm</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</div>

{% endblock %}
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
