






[CODE]
U1




[TITLE]Use of waste in construction[DESC]Use suitable waste rather than virgin raw material in construction.


[URL]https://www.gov.uk/guidance/waste-exemptions-using-waste














[CODE]
U2




[TITLE]Use of baled end-of-life tyres in construction[DESC]Use a small number of end-of-life tyre bales in construction.


[URL]https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction














[CODE]
U3




[TITLE]Construction of entertainment or educational installations
[DESC]Allows groups such as schools, colleges and theatres to use waste, such as offcuts of wood, for creative installations.


[URL]https://www.gov.uk/guidance/waste-exemption-u3-construction-of-entertainment-or-educational-installations






'






[CODE]
U4




[TITLE]Burning of waste as a fuel in a small appliance
[DESC]Use waste (plant matter or untreated wood) as fuel to produce heat or power.


[URL]https://www.gov.uk/guidance/waste-exemption-u4-burning-of-waste-as-a-fuel-in-a-small-appliance






'






[CODE]
U5




[TITLE]Using biodiesel produced from waste as fuel
[DESC]Store and use biodiesel produced from waste as fuel in portable generators and motor vehicles.


[URL]https://www.gov.uk/guidance/waste-exemption-u5-using-biodiesel-produced-from-waste-as-fuel






'






[CODE]
U6




[TITLE]Using sludge to reseed a waste water treatment plant
[DESC]Import sludge from one waste water treatment plant to another to reseed the biological process.


[URL]https://www.gov.uk/guidance/waste-exemption-u6-using-sludge-to-re-seed-a-waste-water-treatment-plant






'






[CODE]
U7




[TITLE]Using effluent to clean a highway gravel bed
[DESC]Use effluent from water and waste treatment plants to clean highway gravel beds where high-quality water is not needed.


[URL]https://www.gov.uk/guidance/waste-exemption-u7-using-effluent-to-clean-a-highway-gravel-bed






'






[CODE]
U8




[TITLE]Using waste for a specified purpose
[DESC]Use waste materials that do not need treating to reduce the use of virgin or non-waste materials.


[URL]https://www.gov.uk/guidance/waste-exemption-u8-using-waste-for-a-specified-purpose






'






[CODE]
U9




[TITLE]Using waste to manufacture finished goods
[DESC]Use waste in place of raw materials to manufacture a finished product.


[URL]https://www.gov.uk/guidance/waste-exemption-u9-using-waste-to-manufacture-finished-goods






'






[CODE]
U10




[TITLE]Spreading waste to benefit agricultural land
[DESC]Spread specific waste on agricultural land to replace the use of manufactured fertilisers or virgin materials (such as lime) to improve or maintain soil.


[URL]https://www.gov.uk/guidance/waste-exemption-u10-spreading-waste-to-benefit-agricultural-land






'






[CODE]
U11




[TITLE]Spreading waste to benefit non-agricultural land
[DESC]Spread waste on non-agricultural land to replace manufactured fertilisers or other materials used to improve or maintain soil.


[URL]https://www.gov.uk/guidance/waste-exemption-u11-spreading-waste-to-benefit-non-agricultural-land






'






[CODE]
U12




[TITLE]Using mulch
[DESC]Allows landscapers, farmers and growers to spread mulch as a protective covering onto land around trees, bushes or plants.


[URL]https://www.gov.uk/guidance/waste-exemption-u12-using-mulch






'






[CODE]
U13




[TITLE]Spreading plant matter to provide benefits
[DESC]Spread cut plant material at the place of production for weed suppression or to provide nutrients to the soil.


[URL]https://www.gov.uk/guidance/waste-exemption-u13-spreading-plant-matter-to-provide-benefits






'






[CODE]
U14




[TITLE]Incorporating ash into soil
[DESC]Mix ash back into the soil to return some of the nutrients from the burnt crops and vegetation.


[URL]https://www.gov.uk/guidance/waste-exemption-u14-incorporating-ash-into-soil






'






[CODE]
U15




[TITLE]Pig and poultry ash[DESC]Allows groups such as schools, colleges and theatres to use waste, such as offcuts of wood, for creative installations.


[URL]https://www.gov.uk/guidance/waste-exemption-u15-pig-and-poultry-ash






'






[CODE]
U16




[TITLE]Using depolluted end-of-life vehicles for parts
[DESC]Reuse the parts from depolluted end-of-life vehicles in other vehicles.


[URL]https://www.gov.uk/guidance/waste-exemption-u16-using-depolluted-end-of-life-vehicles-for-parts














[CODE]
T1




[TITLE]Cleaning, washing, spraying or coating relevant waste
[DESC]Treat waste packaging so it can be reused in its original form, or clean suitable waste for recycling.


[URL]https://www.gov.uk/guidance/waste-exemptions-treating-waste






'






[CODE]
T2




[TITLE]Recovering textiles
[DESC]Clean waste clothes and textiles to recover them for reuse or recycling.


[URL]https://www.gov.uk/guidance/waste-exemption-t2-recovering-textiles






'






[CODE]
T4




[TITLE]Preparatory treatments such as, baling, sorting, shredding
[DESC]Treat waste to reduce its volume for transport to another site for reuse, recycling or to make handling easier.


[URL]https://www.gov.uk/guidance/waste-exemption-t4-preparatory-treatments-baling-sorting-shredding-etc






'






[CODE]
T5




[TITLE]Screening and blending waste
[DESC]Temporarily treat waste on a small scale to produce aggregate or soil at a particular location, such as a construction or demolition site.


[URL]https://www.gov.uk/guidance/waste-exemption-t5-screening-and-blending-waste






'






[CODE]
T6




[TITLE]Treating waste wood and waste plant matter by chipping, shredding, cutting or pulverising
[DESC]Chip, shred, cut or pulverise waste wood and waste plant matter to make it easier to store and transport, or to convert it for use.


[URL]https://www.gov.uk/guidance/waste-exemption-t6-treating-waste-wood-and-waste-plant-matter-by-chipping-shredding-cutting-or-pulverising






'






[CODE]
T8




[TITLE]Mechanically treating end-of-life tyres
[DESC]Treat small amounts of waste end-of-life tyres for recovery by baling, shredding, peeling, shaving or granulating.


[URL]https://www.gov.uk/guidance/waste-exemption-t8-mechanically-treating-end-of-life-tyres






'






[CODE]
T9




[TITLE]Recovering scrap metal
[DESC]Treat scrap metal for handling or recovery by sorting, grading, shearing by manual feed, baling, crushing or cutting it with handheld equipment.


[URL]https://www.gov.uk/guidance/waste-exemption-t9-recovering-scrap-metal






'






[CODE]
T10




[TITLE]Sorting mixed waste
[DESC]Allows small organisations, such as charities, to sort recyclable waste so that it can be recovered.


[URL]https://www.gov.uk/guidance/waste-exemption-t10-sorting-mixed-waste






'






[CODE]
T12




[TITLE]Manually treating waste
[DESC]Sort, repair, refurbish or dismantle waste for reuse or recovery.


[URL]https://www.gov.uk/guidance/waste-exemption-t12-manually-treating-waste






'






[CODE]
T13




[TITLE]Treating waste food
[DESC]Recover waste food by decanting or unwrapping it and recovering the packaging.


[URL]https://www.gov.uk/guidance/waste-exemption-t13-treating-waste-food






'






[CODE]
T14




[TITLE]Crushing and emptying vehicle waste oil filters
[DESC]Recover oil from oil filters before they are crushed so they can be transported for recovery.


[URL]https://www.gov.uk/guidance/waste-exemption-t14-crushing-and-emptying-vehicle-waste-oil-filters






'






[CODE]
T15




[TITLE]Treating waste aerosol cans
[DESC]Treat aerosol cans by puncturing or crushing using specialist treatment equipment, so the metal can be recovered.


[URL]https://www.gov.uk/guidance/waste-exemption-t15-treating-waste-aerosol-cans






'






[CODE]
T16




[TITLE]Treating waste toner and ink cartridges
[DESC]Treat waste toner or ink cartridges by sorting, cleaning, dismantling or refilling them.


[URL]https://www.gov.uk/guidance/waste-exemption-t16-treating-waste-toner-and-ink-cartridges






'






[CODE]
T17




[TITLE]Crushing waste fluorescent tubes
[DESC]Treat waste fluorescent tubes and capture any mercury emissions before collection for recovery.


[URL]https://www.gov.uk/guidance/waste-exemption-t17-crushing-waste-fluorescent-tubes






'






[CODE]
T18




[TITLE]Using flocculants to remove water from waste
[DESC]Treat waste by using flocculants to remove water so that clay or water-based paints can be recovered.


[URL]https://www.gov.uk/guidance/waste-exemption-t18-using-flocculants-to-remove-water-from-waste






'






[CODE]
T19




[TITLE]Physical and chemical treatment of waste edible oil and fat to produce biodiesel
[DESC]Allows small-scale physical and chemical treatment of waste edible oils and fat to produce fuel.


[URL]https://www.gov.uk/guidance/waste-exemption-t19-physical-and-chemical-treatment-of-waste-edible-oil-and-fat-to-produce-biodiesel






'






[CODE]
T20




[TITLE]Treating waste at a water treatment works
[DESC]Treat certain waste at water treatment works to reduce the volume for transport, or to make it easier to handle for waste recovery.


[URL]https://www.gov.uk/guidance/waste-exemption-t20-treating-waste-at-a-water-treatment-works






'






[CODE]
T21




[TITLE]Recover waste at a waste water treatment works
[DESC]Recover waste, such as sludge from a septic tank or cesspool, which needs further treatment at a waste water treatment works.


[URL]https://www.gov.uk/guidance/waste-exemption-t21-recover-waste-at-a-waste-water-treatment-works






'






[CODE]
T23




[TITLE]Aerobic composting and associated prior treatment
[DESC]Compost small volumes of vegetation, cardboard and food waste to spread on soil to add nutrients or improve the structure.


[URL]https://www.gov.uk/guidance/waste-exemption-t23-aerobic-composting-and-associated-prior-treatment






'






[CODE]
T24




[TITLE]Anaerobic digestion at premises used for agriculture and burning resulting biogas
[DESC]Allows farmers to anaerobically digest manure, slurry and vegetation on their farms to produce digestate for use as a fertiliser or soil conditioner.


[URL]https://www.gov.uk/guidance/waste-exemption-t24-anaerobic-digestion-at-premises-used-for-agriculture-and-burning-resulting-biogas






'






[CODE]
T25




[TITLE]Anaerobic digestion at premises not used for agriculture and burning resulting biogas
[DESC]Treat food and other biodegradable waste by anaerobic digestion to produce digestate for use as a fertiliser, and burn the resulting biogas.


[URL]https://www.gov.uk/guidance/waste-exemption-t25-anaerobic-digestion-at-premises-not-used-for-agriculture-and-burning-resulting-biogas






'






[CODE]
T26




[TITLE]Treatment of kitchen waste in a wormery
[DESC]Allows very small-scale treatment of waste from kitchens using a wormery to produce compost, for use as a fertiliser or soil conditioner.


[URL]https://www.gov.uk/guidance/waste-exemption-t26-treatment-of-kitchen-waste-in-a-wormery






'






[CODE]
T27




[TITLE]Treatment of sheep dip using organophosphate-degrading enzyme
[DESC]Allows organophosphate sheep dip to be treated with an approved organophosphate-degrading enzyme.


[URL]https://www.gov.uk/guidance/waste-exemption-t27-treatment-of-sheep-dip-using-organophosphate-degrading-enzyme






'






[CODE]
T28




[TITLE]Sort and denature controlled drugs for disposal
[DESC]Allows pharmacies and similar places to denature controlled drugs, in order to comply with Misuse of Drugs Regulations 2001.


[URL]https://www.gov.uk/guidance/waste-exemption-t28-sort-and-denature-controlled-drugs-for-disposal






'






[CODE]
T29




[TITLE]Treatment of non-hazardous pesticide washings by carbon filtration for disposal
[DESC]Treat non-hazardous pesticide washings before disposing of them to land, making them less likely to damage the environment.


[URL]https://www.gov.uk/guidance/waste-exemption-t29-treatment-of-non-hazardous-pesticide-washings-by-carbon-filtration-for-disposal






'






[CODE]
T30




[TITLE]Recover silver
[DESC]Recover silver from waste produced in connection with printing or photographic processes.


[URL]https://www.gov.uk/guidance/waste-exemption-t30-recover-silver






'






[CODE]
T31




[TITLE]Recover monopropylene glycol from aircraft antifreeze fluids
[DESC]Allows airports to filter and distill waste aircraft antifreeze fluid to recover monopropylene glycol.


[URL]https://www.gov.uk/guidance/waste-exemption-t31-recover-monopropylene-glycol-from-aircraft-antifreeze-fluids






'






[CODE]
T32




[TITLE]Treatment of waste in a biobed or biofilter
[DESC]Treat non-hazardous pesticide washings in a biobed or biofilter.


[URL]https://www.gov.uk/guidance/waste-exemption-t32-treatment-of-waste-in-a-biobed-or-biofilter






'






[CODE]
T33




[TITLE]Recover central heating oil by filtration
[DESC]Filter central heating oil from disused tanks so that it can be reused.


[URL]https://www.gov.uk/guidance/waste-exemption-t33-recover-central-heating-oil-by-filtration
















[CODE]
D1




[TITLE]Depositing waste from dredging inland waters
[DESC]Deposit dredging spoil (dredgings) on the banks of the waters it was dredged from, and treat it by screening and removing water.


[URL]https://www.gov.uk/guidance/waste-exemptions-disposing-of-waste






'






[CODE]
D2




[TITLE]Depositing waste from a railway sanitary convenience
[DESC]Allows older rolling stock not fitted with appropriate collection facilities to deposit sanitary waste onto the track.


[URL]https://www.gov.uk/guidance/waste-exemption-d2-depositing-waste-from-a-railway-sanitary-convenience






'






[CODE]
D3




[TITLE]Depositing waste from a portable sanitary convenience
[DESC]Allows the burial of waste from a portable toilet, to avoid long-distance transportation of small quantities of waste to sewage treatment works.


[URL]https://www.gov.uk/guidance/waste-exemption-d3-depositing-waste-from-a-portable-sanitary-convenience






'






[CODE]
D4




[TITLE]Depositing agricultural waste consisting of plant tissue under a Plant Health Notice
[DESC]Dispose of diseased crops where they were grown when a Plant Health Notice has been issued, to reduce the risk of spreading plant diseases or pests.


[URL]https://www.gov.uk/guidance/waste-exemption-d4-depositing-agricultural-waste-consisting-of-plant-tissue-under-a-plant-health-notice






'






[CODE]
D5




[TITLE]Depositing waste samples for testing or analysis
[DESC]Deposit and store waste samples when required to comply with or enforce specified regulations, or before testing and analysis for research.


[URL]https://www.gov.uk/guidance/waste-exemption-d5-depositing-waste-samples-for-testing-or-analysis






'






[CODE]
D6




[TITLE]Disposal by incineration
[DESC]Dispose of small amounts of specific waste that have been produced on site in an incinerator.


[URL]https://www.gov.uk/guidance/waste-exemption-d6-disposal-by-incineration






'






[CODE]
D7




[TITLE]Burning waste in the open
[DESC]Burn plant tissue and untreated wood waste from joinery or manufacturing in the open air.


[URL]https://www.gov.uk/guidance/waste-exemption-d7-burning-waste-in-the-open






'






[CODE]
D8




[TITLE]Burning waste at a port under a Plant Health Notice
[DESC]Burn plant tissue waste, wood packaging and packing material waste at a port when a Plant Health Notice has been issued, to prevent the spread of plant diseases.


[URL]https://www.gov.uk/guidance/waste-exemption-d8-burning-waste-at-a-port-under-a-plant-health-notice








'










[CODE]
S1




[TITLE]Storing waste in secure containers
[DESC]Store specific waste in secure containers at an intermediate site, separate to where the waste was produced, before transportation to another site for recovery.


[URL]https://www.gov.uk/guidance/waste-exemptions-storing-waste






'






[CODE]
S2




[TITLE]Storing waste in a secure place
[DESC]Store specific waste at a secure intermediate site, separate to where the waste was produced, before transportation to another site for recovery.


[URL]https://www.gov.uk/guidance/waste-exemption-s2-storing-waste-in-a-secure-place






'






[CODE]
S3




[TITLE]Storing sludge
[DESC]Store sewage sludge at a site where it will be used in accordance with the Sludge (Use in Agriculture) Regulations 1989.


[URL]https://www.gov.uk/guidance/waste-exemption-s3-storing-sludge








'
