
{% extends "layout.html" %}

{% block pageTitle %}
  Which exemptions are needed for this waste operation?
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Which exemptions are needed for this waste operation?</h1>
      <p class="govuk-body-l">Select all the waste exemptions you need to add to the registration.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <nav role="navigation" class="guidance-nav">
        <h3 class="govuk-heading-s">Contents</h3>
        <ol class="govuk-list govuk-body-s">
            <li class="list-item--dashed">
              <a href="#using-waste">using waste</a>
            </li>
            <li class="list-item--dashed">
              <a href="#treating-waste">treating waste</a>
            </li>
            <li class="list-item--dashed">
              <a href="#disposing-of-waste">disposing of waste</a>
            </li>
            <li class="list-item--dashed">
              <a href="#storing-waste">storing waste</a>
            </li>
        </ol>
      </nav>
      <form action="../registration/registration-check-details" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-7">
            <table class="govuk-table guidance-table-one-column">
              <caption id="using-waste" class="govuk-table__caption guidance-table-header">Using waste</caption>
              <tbody class="govuk-table__body">
                 <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u1" name="waste" type="checkbox" value=u1"">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u1">U1: Use of waste in construction</label>
                    </div>
                    <p>Use suitable waste rather than virgin raw material in construction.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemptions-using-waste">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
              
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u2" name="waste" type="checkbox" value="u2">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u2">U2: Use of baled end-of-life tyres in construction</label>
                    </div>
                    <p>Use a small number of end-of-life tyre bales in construction.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u3" name="waste" type="checkbox" value="u3">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u3">U3: Construction of entertainment or educational installations</label>
                    </div>
                    <p>Allows groups such as schools, colleges and theatres to use waste, such as offcuts of wood, for creative installations.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u3-construction-of-entertainment-or-educational-installations">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u4" name="waste" type="checkbox" value="u4">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u4">U4: Burning of waste as a fuel in a small appliance</label>
                    </div>
                    <p>Use waste (plant matter or untreated wood) as fuel to produce heat or power.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u4-burning-of-waste-as-a-fuel-in-a-small-appliance">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u5" name="waste" type="checkbox" value="u5">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u5">U5: Using biodiesel produced from waste as fuel</label>
                    </div>
                    <p>Store and use biodiesel produced from waste as fuel in portable generators and motor vehicles.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u5-using-biodiesel-produced-from-waste-as-fuel">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u6" name="waste" type="checkbox" value="u6">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u6">U6: Using sludge to reseed a waste water treatment plant</label>
                    </div>
                    <p>Import sludge from one waste water treatment plant to another to reseed the biological process.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u6-using-sludge-to-re-seed-a-waste-water-treatment-plant">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u7" name="waste" type="checkbox" value="u7">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u7">U7: Using effluent to clean a highway gravel bed</label>
                    </div>
                    <p>Use effluent from water and waste treatment plants to clean highway gravel beds where high-quality water is not needed.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u7-using-effluent-to-clean-a-highway-gravel-bed">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u8" name="waste" type="checkbox" value="u8">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u8">U8: Using waste for a specified purpose</label>
                    </div>
                    <p>Use waste materials that do not need treating to reduce the use of virgin or non-waste materials.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u8-using-waste-for-a-specified-purpose">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u9" name="waste" type="checkbox" value="u9">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u9">U9: Using waste to manufacture finished goods</label>
                    </div>
                    <p>Use waste in place of raw materials to manufacture a finished product.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u9-using-waste-to-manufacture-finished-goods">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u10" name="waste" type="checkbox" value="u10">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u10"U10: Spreading waste to benefit agricultural land</label>
                    </div>
                    <p>Spread specific waste on agricultural land to improve or maintain the physical, chemical and biological properties of the soil to grow crops.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u10-spreading-waste-to-benefit-agricultural-land">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u11" name="waste" type="checkbox" value="u11">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u11"U11: Spreading waste to benefit non-agricultural land</label>
                    </div>
                    <p>Spread waste on non-agricultural land to replace manufactured fertilisers or other materials used to improve or maintain soil.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u11-spreading-waste-to-benefit-non-agricultural-land">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr><tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u12" name="waste" type="checkbox" value="u12">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u12"U12: Using mulch</label>
                    </div>
                    <p>Allows landscapers, farmers and growers to spread mulch as a protective covering onto land around trees, bushes or plants.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u12-using-mulch">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr><tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u13" name="waste" type="checkbox" value="u13">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u13"U13: Spreading plant matter to provide benefits</label>
                    </div>
                    <p>Spread cut plants at the place of production for weed suppression or to provide nutrients to the soil.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u13-spreading-plant-matter-to-provide-benefits">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr><tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u14" name="waste" type="checkbox" value="u14">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u14"U14: Incorporating ash into soil</label>
                    </div>
                    <p>Mix ash back into the soil to return some of the nutrients from the burnt crops and vegetation.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u14-incorporating-ash-into-soil">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr><tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u15" name="waste" type="checkbox" value="u15">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u15"U15: Pig and poultry ash</label>
                    </div>
                    <p>Mix ash from burning pig or poultry  with slurry and/or manure and spread it on farmland to provide the soil with nutrients.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u15-pig-and-poultry-ash">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr><tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-u16" name="waste" type="checkbox" value="u16">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-u16"U16: Using depolluted end-of-life vehicles for parts</label>
                    </div>
                    <p>Reuse the parts from depolluted end-of-life vehicles in other vehicles.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u16-using-depolluted-end-of-life-vehicles-for-parts">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
            <a href="#main-content" class="govuk-link govuk-link--no-visited-state">Back to top</a>
            <table class="govuk-table guidance-table-one-column">
              <caption id="treating-waste" class="govuk-table__caption guidance-table-header">Treating waste</caption>
              <tbody class="govuk-table__body">
                 <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t1" name="waste" type="checkbox" value="t1">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t1">T1: Cleaning, washing, spraying or coating relevant waste</label>
                    </div>
                    <p>Treat waste packaging so it can be reused in its original form, or clean suitable waste for recycling.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemptions-treating-waste">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t2" name="waste" type="checkbox" value="t2">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t2">T2: Recovering textiles</label>
                    </div>
                    <p>Clean waste clothes and textiles to recover them for reuse or recycling.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t2-recovering-textiles">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t4" name="waste" type="checkbox" value="t4">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t4">T4: Preparatory treatments such as, baling, sorting, shredding</label>
                    </div>
                    <p>Treat waste to reduce its volume for transport to another site for reuse, recycling or to make handling easier.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t4-preparatory-treatments-baling-sorting-shredding-etc">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t5" name="waste" type="checkbox" value="t5">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t5">T5: Screening and blending waste</label>
                    </div>
                    <p>Temporarily treat waste on a small scale to produce aggregate or soil at a particular location, such as a construction or demolition site.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t5-screening-and-blending-waste">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t6" name="waste" type="checkbox" value="t6">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t6">T6: Treating waste wood and waste plant matter by chipping, shredding, cutting or pulverising</label>
                    </div>
                    <p>Chip, shred, cut or pulverise waste wood and waste plant matter to make it easier to store and transport, or to convert it for use.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t6-treating-waste-wood-and-waste-plant-matter-by-chipping-shredding-cutting-or-pulverising">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t8" name="waste" type="checkbox" value="t8">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t8">T8: Mechanically treating end-of-life tyres</label>
                    </div>
                    <p>Treat small amounts of waste end-of-life tyres for recovery by baling, shredding, peeling, shaving or granulating.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t8-mechanically-treating-end-of-life-tyres">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t9" name="waste" type="checkbox" value="t9">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t9">T9: Recovering scrap metal</label>
                    </div>
                    <p>Treat scrap metal for handling or recovery by sorting, grading, shearing by manual feed, baling, crushing or cutting it with handheld equipment.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t9-recovering-scrap-metal">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t10" name="waste" type="checkbox" value="t10">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t10"T10: Sorting mixed waste</label>
                    </div>
                    <p>Allows small organisations, such as charities, to sort recyclable waste so that it can be recovered.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t10-sorting-mixed-waste">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t12" name="waste" type="checkbox" value="t12">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t12"T12: Manually treating waste</label>
                    </div>
                    <p>Sort, repair, refurbish or dismantle waste for reuse or recovery.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t12-manually-treating-waste">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t13" name="waste" type="checkbox" value="t13">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t13"T13: Treating waste food</label>
                    </div>
                    <p>Recover waste food by decanting or unwrapping it and recovering the packaging.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t13-treating-waste-food">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t14" name="waste" type="checkbox" value="t14">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t14"T14: Crushing and emptying vehicle waste oil filters</label>
                    </div>
                    <p>Recover oil from oil filters before they are crushed so they can be transported for recovery.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t14-crushing-and-emptying-vehicle-waste-oil-filters">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t15" name="waste" type="checkbox" value="t15">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t15"T15: Treating waste aerosol cans</label>
                    </div>
                    <p>Treat aerosol cans by puncturing or crushing using specialist treatment equipment, so the metal can be recovered.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t15-treating-waste-aerosol-cans">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t16" name="waste" type="checkbox" value="t16">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t16"T16: Treating waste toner and ink cartridges</label>
                    </div>
                    <p>Treat waste toner or ink cartridges by sorting, cleaning, dismantling or refilling them.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t16-treating-waste-toner-and-ink-cartridges">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t17" name="waste" type="checkbox" value="t17">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t17"T17: Crushing waste fluorescent tubes</label>
                    </div>
                    <p>Treat waste fluorescent tubes and capture any mercury emissions before collection for recovery.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t17-crushing-waste-fluorescent-tubes">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t18" name="waste" type="checkbox" value="t18">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t18"T18: Using flocculants to remove water from waste</label>
                    </div>
                    <p>Treat waste by using flocculants to remove water so that clay or water-based paints can be recovered.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t18-using-flocculants-to-remove-water-from-waste">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t19" name="waste" type="checkbox" value="t19">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t19"T19: Physical and chemical treatment of waste edible oil and fat to produce biodiesel:</label>
                    </div>
                    <p>Allows small-scale physical and chemical treatment of waste edible oils and fat to produce fuel.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t19-physical-and-chemical-treatment-of-waste-edible-oil-and-fat-to-produce-biodiesel">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t20" name="waste" type="checkbox" value="t20">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t20"T20: Treating waste at a water treatment works</label>
                    </div>
                    <p>Treat certain waste at water treatment works to reduce the volume for transport, or to make it easier to handle for waste recovery.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t20-treating-waste-at-a-water-treatment-works">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t21" name="waste" type="checkbox" value="t21">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t21"T21: Recover waste at a waste water treatment works</label>
                    </div>
                    <p>Recover waste, such as sludge from a septic tank or cesspool, which needs further treatment at a waste water treatment works.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t21-recover-waste-at-a-waste-water-treatment-works">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t23" name="waste" type="checkbox" value="t23">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t23"T23: Aerobic composting and associated prior treatment</label>
                    </div>
                    <p>Compost small volumes of vegetation, cardboard and food waste to spread on soil to add nutrients or improve the structure.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t23-aerobic-composting-and-associated-prior-treatment">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t24" name="waste" type="checkbox" value="t24">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t24"T24: Anaerobic digestion at premises used for agriculture and burning resulting biogas</label>
                    </div>
                    <p>Allows farmers to anaerobically digest manure, slurry and vegetation on their farms to produce digestate for use as a fertiliser or soil conditioner.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t24-anaerobic-digestion-at-premises-used-for-agriculture-and-burning-resulting-biogas">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t25" name="waste" type="checkbox" value="t25">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t25"T25: Anaerobic digestion at premises not used for agriculture and burning resulting biogas</label>
                    </div>
                    <p>Treat food and other biodegradable waste by anaerobic digestion to produce digestate for use as a fertiliser or soil conditioner.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t25-anaerobic-digestion-at-premises-not-used-for-agriculture-and-burning-resulting-biogas">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t26" name="waste" type="checkbox" value="t26">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t26"T26: Treatment of kitchen waste in a wormery</label>
                    </div>
                    <p>Allows very small-scale treatment of waste from kitchens using a wormery to produce compost, for use as a fertiliser or soil conditioner.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t26-treatment-of-kitchen-waste-in-a-wormery">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t27" name="waste" type="checkbox" value="t27">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t27"T27: Treatment of sheep dip using organophosphate-degrading enzyme</label>
                    </div>
                    <p>Allows organophosphate sheep dip to be treated with an approved organophosphate-degrading enzyme.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t27-treatment-of-sheep-dip-using-organophosphate-degrading-enzyme">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t28" name="waste" type="checkbox" value="t28">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t28"T28: Sort and denature controlled drugs for disposal</label>
                    </div>
                    <p>Allows pharmacies and similar places to denature controlled drugs, in order to comply with Misuse of Drugs Regulations 2001.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t28-sort-and-denature-controlled-drugs-for-disposal">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t29" name="waste" type="checkbox" value="t29">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t29"T29: Treatment of non-hazardous pesticide washings by carbon filtration for disposal</label>
                    </div>
                    <p>Treat non-hazardous pesticide washings before disposing of them to land, making them  less likely to damage the environment.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t29-treatment-of-non-hazardous-pesticide-washings-by-carbon-filtration-for-disposal">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t30" name="waste" type="checkbox" value="t30">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t30"T30: Recover silver</label>
                    </div>
                    <p>Recover silver from waste produced in connection with printing or photographic processes.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t30-recover-silver">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t31" name="waste" type="checkbox" value="t31">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t31"T31: Recover monopropylene glycol from aircraft antifreeze fluids</label>
                    </div>
                    <p>Allows airports to filter and distill waste aircraft antifreeze fluid to recover monopropylene glycol.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t31-recover-monopropylene-glycol-from-aircraft-antifreeze-fluids">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t32" name="waste" type="checkbox" value="t32">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t32"T32: Treatment of waste in a biobed or biofilter</label>
                    </div>
                    <p>Treat non-hazardous pesticide washings in a biobed or biofilter.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t32-treatment-of-waste-in-a-biobed-or-biofilter">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-t33" name="waste" type="checkbox" value="t33">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-t33"T33: Recover central heating oil by filtration</label>
                    </div>
                    <p>Filter central heating oil from disused tanks so that it can be reused.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-t33-recover-central-heating-oil-by-filtration">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
            <a href="#main-content" class="govuk-link govuk-link--no-visited-state">Back to top</a>
            <table class="govuk-table guidance-table-one-column">
              <caption id="disposing-of-waste" class="govuk-table__caption guidance-table-header">Disposing of waste</caption>
              <tbody class="govuk-table__body">
                 <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-d1" name="waste" type="checkbox" value="d1">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-d1">D1: Depositing waste from dredging inland waters</label>
                    </div>
                    <p>Deposit dredging spoil (dredgings) on the banks of the waters it was dredged from, and treat it by screening and removing water.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemptions-disposing-of-waste">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-d2" name="waste" type="checkbox" value="d2">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-d2">D2: Depositing waste from a railway sanitary convenience</label>
                    </div>
                    <p>Allows older rolling stock not fitted with appropriate collection facilities to deposit sanitary waste onto the track.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-d2-depositing-waste-from-a-railway-sanitary-convenience">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-d3" name="waste" type="checkbox" value="d3">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-d3">D3: Depositing waste from a portable sanitary convenience</label>
                    </div>
                    <p>Allows the burial of waste from a portable toilet, to avoid long-distance transportation of small quantities of waste to sewage treatment works.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-d3-depositing-waste-from-a-portable-sanitary-convenience">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-d4" name="waste" type="checkbox" value="d4">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-d4">D4: Depositing agricultural waste consisting of plant tissue under a Plant Health Notice</label>
                    </div>
                    <p>Dispose of diseased crops where they were grown when a Plant Health Notice has been issued, to reduce the risk of spreading plant diseases or pests.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-d4-depositing-agricultural-waste-consisting-of-plant-tissue-under-a-plant-health-notice">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-d5" name="waste" type="checkbox" value="d5">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-d5">D5: Depositing waste samples for testing or analysis</label>
                    </div>
                    <p>Deposit and store waste samples when required to comply with or enforce specified regulations, or before testing and analysis for research.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-d5-depositing-waste-samples-for-testing-or-analysis">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-d6" name="waste" type="checkbox" value="d6">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-d6">D6: Disposal by incineration</label>
                    </div>
                    <p>Dispose of small amounts of specific waste that have been produced on site in an incinerator.</p>
                    <p><a target="_blank" href=https://www.gov.uk/guidance/waste-exemption-d6-disposal-by-incineration">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-d7" name="waste" type="checkbox" value="d7">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-d7">D7: Burning waste in the open</label>
                    </div>
                    <p>Burn plant tissue and untreated wood waste from joinery or manufacturing in the open air.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-d7-burning-waste-in-the-open">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-d8" name="waste" type="checkbox" value="d8">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-d8">D8: Burning waste at a port under a Plant Health Notice</label>
                    </div>
                    <p>Burn plant tissue waste, wood packaging and packing material waste at a port when a Plant Health Notice has been issued, to prevent the spread of plant diseases.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-d8-burning-waste-at-a-port-under-a-plant-health-notice">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
            <a href="#main-content" class="govuk-link govuk-link--no-visited-state">Back to top</a>
            <table class="govuk-table guidance-table-one-column">
              <caption id="storing-waste" class="govuk-table__caption guidance-table-header">Storing waste</caption>
              <tbody class="govuk-table__body">
                 <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-s1" name="waste" type="checkbox" value="s1">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-s1">S1: Storing waste in secure containers</label>
                    </div>
                    <p>Store specific waste in secure containers at an intermediate site, separate to where the waste was produced, before transportation to another site for recovery.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemptions-storing-waste">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-s2" name="waste" type="checkbox" value="s2">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-s2">S2: Storing waste in a secure place</label>
                    </div>
                    <p>Store specific waste at a secure intermediate site, separate to where the waste was produced, before transportation to another site for recovery.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-s2-storing-waste-in-a-secure-place">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-s3" name="waste" type="checkbox" value="s3">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-s3">S3: Storing sludge</label>
                    </div>
                    <p>Store sewage sludge at a site where it will be used in accordance with the Sludge (Use in Agriculture) Regulations 1989.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-s3-storing-sludge">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
            <a href="#main-content" class="govuk-link govuk-link--no-visited-state">Back to top</a>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
