
{% extends "layout.html" %}

{% block pageTitle %}
  Which exemptions are needed for this waste operation?
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Which exemptions are needed for this waste operation?</h1>
      <p class="govuk-body-l">Select all the waste exemptions you need to add to the registration.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <nav role="navigation" class="guidance-nav">
        <h3 class="govuk-heading-s">Contents</h3>
        <ol class="govuk-list govuk-body-s">
            <li class="list-item--dashed">
              <a href="#using-waste">using waste</a>
            </li>
            <li class="list-item--dashed">
              <a href="#treating-waste">treating waste</a>
            </li>
            <li class="list-item--dashed">
              <a href="#disposing-of-waste">disposing of waste</a>
            </li>
            <li class="list-item--dashed">
              <a href="#storing-waste">storing waste</a>
            </li>
        </ol>
      </nav>
      <form action="registration-check-details" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-7">
            <table class="govuk-table guidance-table-one-column">
              <caption id="using-waste" class="govuk-table__caption guidance-table-header">Using waste</caption>
              <tbody class="govuk-table__body">
                 <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                   <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                        <h4 class="guidance-heading">U1: Use of waste in construction</h4>
                      </label>
                    </div>
                    <p>Use suitable waste rather than virgin raw material in construction.</p>
                    <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
              
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        <h4 class="guidance-heading">U2: Use of baled end-of-life tyres in construction</h4>
                      </label>
                    </div>
                     <p>Use a small number of end-of-life tyre bales in construction.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        <h4 class="guidance-heading">U3: Construction of entertainment or educational installations</h4>
                      </label>
                    </div>
                     <p>Allows groups such as schools, colleges and theatres to use waste, such as offcuts of wood, for creative installations.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-4">
                        <h4 class="guidance-heading">U4: Burning of waste as a fuel in a small appliance</h4>
                      </label>
                    </div>
                     <p>Use waste (plant matter or untreated wood) as fuel to produce heat or power.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-5" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-5">
                        <h4 class="guidance-heading">U5: Using biodiesel produced from waste as fuel</h4>
                      </label>
                    </div>
                     <p>Store and use biodiesel produced from waste as fuel in portable generators and motor vehicles.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-6" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-6">
                        <h4 class="guidance-heading">U6: Using sludge to reseed a waste water treatment plant</h4>
                      </label>
                    </div>
                     <p>Import sludge from one waste water treatment plant to another to reseed the biological process.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-7" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-7">
                        <h4 class="guidance-heading">U7: Using effluent to clean a highway gravel bed</h4>
                      </label>
                    </div>
                     <p>Use effluent from water and waste treatment plants to clean highway gravel beds where high-quality water is not needed.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-8" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-8">
                        <h4 class="guidance-heading">U8: Using waste for a specified purpose</h4>
                      </label>
                    </div>
                     <p>Use waste materials that do not need treating to reduce the use of virgin or non-waste materials.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-9" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-9">
                        <h4 class="guidance-heading">U9: Using waste to manufacture finished goods</h4>
                      </label>
                    </div>
                     <p>Use waste in place of raw materials to manufacture a finished product.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-10" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-10">
                        <h4 class="guidance-heading">U10: Spreading waste to benefit agricultural land</h4>
                      </label>
                    </div>
                     <p>Spread specific waste on agricultural land to improve or maintain the physical, chemical and biological properties of the soil to grow crops.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-11" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-11">
                        <h4 class="guidance-heading">U11: Spreading waste to benefit non-agricultural land</h4>
                      </label>
                    </div>
                     <p>Spread waste on non-agricultural land to replace manufactured fertilisers or other materials used to improve or maintain soil.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr><tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-12" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-12">
                        <h4 class="guidance-heading">U12: Using mulch</h4>
                      </label>
                    </div>
                     <p>Allows landscapers, farmers and growers to spread mulch as a protective covering onto land around trees, bushes or plants.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr><tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-13" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-13">
                        <h4 class="guidance-heading">U13: Spreading plant matter to provide benefits</h4>
                      </label>
                    </div>
                     <p>Spread cut plants at the place of production for weed suppression or to provide nutrients to the soil.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr><tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-14" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-14">
                        <h4 class="guidance-heading">U14: Incorporating ash into soil</h4>
                      </label>
                    </div>
                     <p>Mix ash back into the soil to return some of the nutrients from the burnt crops and vegetation.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr><tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-15" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-15">
                        <h4 class="guidance-heading">U15: Pig and poultry ash</h4>
                      </label>
                    </div>
                     <p>Mix ash from burning pig or poultry carcasses with slurry and/or manure and spread it on farmland to provide the soil with nutrients.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr><tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-16" name="waste" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-16">
                        <h4 class="guidance-heading">U16: Using depolluted end-of-life vehicles for parts</h4>
                      </label>
                    </div>
                     <p>Reuse the parts from depolluted end-of-life vehicles in other vehicles.</p>
                         <p><a target="_blank" href="https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction">Read full exemption guidance (opens in new tab)</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
        </div>
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
