{% extends "layout.html" %}

{% block pageTitle %}
Privacy policy for assisted registrations
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">Privacy policy for Waste Carriers, Brokers and Dealers assisted digital </h1>

      <div class="govuk-inset-text">
        Tell the customer:
      </div>

<p>The <a href="https://wastecarriersregistration.service.gov.uk/privacy">privacy policy</a> for the Waste Carriers, Brokers and Dealers Service has been updated, and can be viewed online at: wastecarriersregistration.service.gov.uk/privacy</p>
<p>If you want to read the updated privacy policy but don't have internet access, I can email or post a copy to you, or I can read it to you now.</p>
<p>You'll receive a copy of the privacy policy by email when you submit your registration.</p>
<p>Would you like me to read it you now?</p>

  <div class="govuk-accordion" data-module="accordion" id="accordion-default">

  <div class="govuk-accordion__section govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Waste carriers, brokers and dealers privacy policy text
        </span>
      </h2>
<div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
<p class='govuk-body'>The Environment Agency runs the Register Waste Carriers, Brokers and Dealers Service. We are the data controller, which means we determine how and why personal information is processed.</p>
      <p class='govuk-body'>Our personal information charter explains your rights and how we deal with your personal information. You can access the charter by going to gov.uk and searching for 'Environment Agency personal information charter’.</p>
      <p class='govuk-body'>The personal data we collect about you includes the name and address of your business or organisation, contact details, date of birth, and details of relevant criminal convictions.</p>
      <p class='govuk-body'>We can process your personal data because we have official authority to register waste carriers, brokers and dealers. The lawful basis for processing your personal data is to exercise our official authority that is set out in law. We process personal data relating to criminal convictions and offences under the same official authority.</p>
      <p class='govuk-body'>We use your personal data in order to process your transaction and register you as a waste carrier, broker or dealer. If you don't provide the information requested, we can't register you as a waste carrier, broker or dealer.</p>
<p class='govuk-body'>We will use the personal data you provide about criminal convictions for making a decision about whether you can register as a waste carrier. If you disclose that a person in the company’s management has a relevant criminal conviction, your application to register as a waste carrier could be refused.</p>
<p class='govuk-body'>We put some of the information from your registration on a public register. Only the name and address of your organisation will appear on the public register. </p>
      <p class='govuk-body'>We will not share or disclose any further personal data to any other party outside the Environment Agency without your explicit consent, unless lawfully able to do so.</p>
<p class='govuk-body'>We store and process your personal data on our servers within the European Economic Area.</p>
<p class='govuk-body'>We do not use your personal data to make an automated decision or for automated profiling.</p>
<p class='govuk-body'>Personal data in an upper-tier registration is kept for 7 years after a registration has ended. Lower-tier registrations are non-expiring, and personal data is retained unless you request it is removed. To request that your personal data is removed, please contact the Environment Agency helpline.</p>
<p class='govuk-body'>Our Data Protection Officer (DPO) is responsible for independent advice and monitoring of the Environment Agency’s use of personal information. If you have any queries about how we process personal data, or would like to make a complaint or request relating to data protection, please contact our Data Protection Officer.</p>
<p class='govuk-body'>The Information Commissioner's Office is the supervisory authority for data protection legislation. The ICO website has a full list of your rights under data protection legislation. You have the right to lodge a complaint with the ICO at any time.</p>
<p class='govuk-body'>Would you like the contact details for the Data Protection Officer or the Information Commissioner's Office?</p>
    </div>
  </div>
<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Contact details for the Data Protection Officer
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
      <p class='govuk-body'>Data Protection Officer<br />
        Environment Agency<br />
        Horizon House<br />
        Deanery Road<br />
        Bristol<br />
        BS1 5AH</p>
      <p class='govuk-body'>Email: dataprotection@environment-agency.gov.uk</p>
    </div>
  </div>
	<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
         Contact details for the Information Commissioner's Office
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
     <p class='govuk-body'>The ICO website is: ico.org.uk/your-data-matters</p></div>
  </div>
</div>

<div class="govuk-!-padding-bottom-5"></div>

        <form action="/address-reuse/start" method="post" class="form">
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </form>

<div class="govuk-!-padding-bottom-5"></div>

			<div class="govuk-body-s">
				This notice was last updated on 11 April 2019.
			</div>
    </div>
  </div>

{% endblock %}
