<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
<!--
body{margin:0 !important}
-->
</style>
<style type="text/css" id="owaParaStyle"></style>
</head>

<body style="font-family:Helvetica,Arial,sans-serif; font-size:16px; margin:0; color:#0b0c0c" fpstyle="1" ocsi="0">
<div style="direction: ltr;font-family: Arial;color: #000000;font-size: 12pt;"><br>

<div><br>
</div>

<div style="font-family: Times New Roman; color: #000000; font-size: 16px">


<div>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; min-width:100%; width:100%!important">
<tbody>
<tr>
<td width="100%" height="53" bgcolor="#0b0c0c">
<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse; max-width:580px">
<tbody>
<tr>
<td width="70" bgcolor="#0b0c0c" valign="middle"><a href="https://www.gov.uk" style="text-decoration:none" target="_blank" rel="noopener noreferrer">
<table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody>
<tr>
<td style="padding-left:10px"><img src="https://static.notifications.service.gov.uk/images/gov.uk_logotype_crown.png" alt="" style="margin-top:4px" height="32" border="0">
</td>
<td style="font-size:28px; line-height:1.315789474; margin-top:4px; padding-left:10px">
<span style="font-family:Helvetica,Arial,sans-serif; font-weight:700; color:#ffffff; text-decoration:none; vertical-align:top; display:inline-block">GOV.UK</span>
</td>
</tr>
</tbody>
</table>
</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse; max-width=
:580px; width:100%!important">
<tbody>
<tr>
<td width="10" height="10" valign="middle"></td>
<td>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody>
<tr>
<td bgcolor="#005EA5" width="100%" height="10"></td>
</tr>
</tbody>
</table>
</td>
<td width="10" valign="middle" height="10"></td>
</tr>
</tbody>
</table>
<table class="content" align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="border-collapse:collapse; max-width:580px; width:100%!important">
<tbody>
<tr>
<td height="30"><br>
</td>
</tr>
<tr>
<td width="10" valign="middle"><br>
</td>
<td style="font-family:Helvetica,Arial,sans-serif; font-size:19px; line-height:1.315789474; max-width:560px">
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Dear Jane Brown</p>

<h2 style="margin:0 0 20px 0; padding:0; font-size:27px; line-height:35px; font-weight:bold; color:#0B0C0C">
You must renew your waste exemptions before 1 June 2019</h2>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">If your details are the same, you can renew in one minute.</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Renewals are free.</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Renew online at:
<a href="https://www.gov.uk/wex-renew" style="word-wrap:break-word; color:#005ea5" target="_blank" rel="noopener noreferrer">
https://www.gov.uk/wex-renew</a></p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Site: 29 Acacia Road, Oxford</p>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Your current exemptions:</p>
<table style="padding:0 0 20px 0">
<tbody>
<tr>
<td style="font-family:Helvetica,Arial,sans-serif">
<ul style="margin:0 0 0 20px; padding:0; list-style-type:disc">
<li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
D1 Depositing waste from dredging inland waters</li>
<li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
D7 Burning waste in the open</li>
<li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
U1 Use of waste in construction</li>
<li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
U10 Spreading waste to benefit agricultural land</li>
<li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
U8 Using waste for a specified purpose</li>
<li style="margin:5px 0 5px; padding:0 0 0 5px; font-size:19px; line-height:25px; color:#0B0C0C">
T6 Treating waste wood and waste plant matter by chipping, shredding, cutting or pulverising
</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p style="margin:0 0 20px 0; font-size:19px; line-height:25px; color:#0B0C0C">Registration number: WEX123456</p>
</td>
<td width="10" valign="middle"><br>
</td>
</tr>
<tr>
<td height="30"><br>
</td>
</tr>
</tbody>
</table>

</div>
</div>
</div>


</body>
</html>
