{% set exemptions =

  {
 "U1": {
    "Title": "Use of waste in construction",
    "Desc": "Use suitable waste rather than virgin raw material in construction.",
    "URL": "https://www.gov.uk/guidance/waste-exemptions-using-waste",
    "Farming": "No",
    "Waste": "No"
 },
 "U2": {
    "Title": "Use of baled end-of-life tyres in construction",
    "Desc": "Use a small number of end-of-life tyre bales in construction.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u2-use-of-baled-end-of-life-tyres-in-construction",
    "Farming": "No",
    "Waste": "No"
 },
 "U3": {
    "Title": "Construction of entertainment or educational installations",
    "Desc": "Allows groups such as schools, colleges and theatres to use waste, such as offcuts of wood, for creative installations.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u3-construction-of-entertainment-or-educational-installations",
    "Farming": "No",
    "Waste": "No"
 },
 "U4": {
    "Title": "Burning of waste as a fuel in a small appliance",
    "Desc": "Use waste (plant matter or untreated wood) as fuel to produce heat or power.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u4-burning-of-waste-as-a-fuel-in-a-small-appliance",
    "Farming": "No",
    "Waste": "No"
 },
 "U5": {
    "Title": "Using biodiesel produced from waste as fuel",
    "Desc": "Store and use biodiesel produced from waste as fuel in portable generators and motor vehicles.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u5-using-biodiesel-produced-from-waste-as-fuel",
    "Farming": "No",
    "Waste": "No"
 },
 "U6": {
    "Title": "Using sludge to re-seed a waste water treatment plant",
    "Desc": "Import sludge from one waste water treatment plant to another to reseed the biological process.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u6-using-sludge-to-re-seed-a-waste-water-treatment-plant",
    "Farming": "No",
    "Waste": "No"
 },
 "U7": {
    "Title": "Using effluent to clean a highway gravel bed",
    "Desc": "Use effluent from water and waste treatment plants to clean highway gravel beds where high-quality water is not needed.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u7-using-effluent-to-clean-a-highway-gravel-bed",
    "Farming": "No",
    "Waste": "No"
 },
 "U8": {
    "Title": "Using waste for a specified purpose",
    "Desc": "Use waste materials that do not need treating to reduce the use of virgin or non-waste materials.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u8-using-waste-for-a-specified-purpose",
    "Farming": "No",
    "Waste": "No"
 },
 "U9": {
    "Title": "Using waste to manufacture finished goods",
    "Desc": "Use waste in place of raw materials to manufacture a finished product.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u9-using-waste-to-manufacture-finished-goods",
    "Farming": "No",
    "Waste": "No"
 },
 "U10": {
    "Title": "Spreading waste to benefit agricultural land",
    "Desc": "Spread specific waste on agricultural land to replace the use of manufactured fertilisers or virgin materials (such as lime) to improve or maintain soil.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u10-spreading-waste-to-benefit-agricultural-land",
    "Farming": "No",
    "Waste": "No"
 },
 "U11": {
    "Title": "Spreading waste to benefit non-agricultural land",
    "Desc": "Spread waste on non-agricultural land to replace manufactured fertilisers or other materials used to improve or maintain soil.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u11-spreading-waste-to-benefit-non-agricultural-land",
    "Farming": "Yes",
    "Waste": "No"
 },
 "U12": {
    "Title": "Using mulch",
    "Desc": "Allows landscapers, farmers and growers to spread mulch as a protective covering onto land around trees, bushes or plants.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u12-using-mulch",
    "Farming": "Yes",
    "Waste": "No"
 },
 "U13": {
    "Title": "Spreading plant matter to provide benefits",
    "Desc": "Spread cut plant material at the place of production for weed suppression or to provide nutrients to the soil.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u13-spreading-plant-matter-to-provide-benefits",
    "Farming": "Yes",
    "Waste": "No"
 },
 "U14": {
    "Title": "Incorporating ash into soil",
    "Desc": "Mix ash back into the soil to return some of the nutrients from the burnt crops and vegetation.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u14-incorporating-ash-into-soil",
    "Farming": "No",
    "Waste": "No"
 },
 "U15": {
    "Title": "Pig and poultry ash",
    "Desc": "Mix ash from burning pig or poultry carcasses with slurry and/or manure and spread it on farmland to provide the soil with nutrients",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u15-pig-and-poultry-ash",
    "Farming": "Yes",
    "Waste": "No"
 },
 "U16": {
    "Title": "Using depolluted end-of-life vehicles for parts",
    "Desc": "Reuse the parts from depolluted end-of-life vehicles in other vehicles.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-u16-using-depolluted-end-of-life-vehicles-for-parts",
    "Farming": "No",
    "Waste": "No"
 },
 "T1": {
    "Title": "Cleaning, washing, spraying or coating relevant waste",
    "Desc": "Treat waste packaging so it can be reused in its original form, or clean suitable waste for recycling.",
    "URL": "https://www.gov.uk/guidance/waste-exemptions-treating-waste",
    "Farming": "No"
 },
 "T2": {
    "Title": "Recovering textiles",
    "Desc": "Clean waste clothes and textiles to recover them for reuse or recycling.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t2-recovering-textiles",
    "Farming": "No",
    "Waste": "Yes"
 },
 "T4": {
    "Title": "Preparatory treatments (baling, sorting, shredding etc)",
    "Desc": "Treat waste to reduce its volume for transport to another site for reuse, recycling or to make handling easier.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t4-preparatory-treatments-baling-sorting-shredding-etc",
    "Farming": "No",
    "Waste": "No"
 },
 "T5": {
    "Title": "Screening and blending waste",
    "Desc": "Temporarily treat waste on a small scale to produce aggregate or soil at a particular location, such as a construction or demolition site.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t5-screening-and-blending-waste",
    "Farming": "No",
    "Waste": "Yes"
 },
 "T6": {
    "Title": "Treating waste wood and waste plant matter by chipping, shredding, cutting or pulverising",
    "Desc": "Chip, shred, cut or pulverise waste wood and waste plant matter to make it easier to store and transport, or to convert it for use.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t6-treating-waste-wood-and-waste-plant-matter-by-chipping-shredding-cutting-or-pulverising",
    "Farming": "Yes",
    "Waste": "No"
 },
 "T8": {
    "Title": "Mechanically treating end-of-life tyres",
    "Desc": "Treat small amounts of waste end-of-life tyres for recovery by baling, shredding, peeling, shaving or granulating.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t8-mechanically-treating-end-of-life-tyres",
    "Farming": "No",
    "Waste": "Yes"
 },
 "T9": {
    "Title": "Recovering scrap metal",
    "Desc": "Treat scrap metal for handling or recovery by sorting, grading, shearing by manual feed, baling, crushing or cutting it with handheld equipment.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t9-recovering-scrap-metal",
    "Farming": "No",
    "Waste": "Yes"
 },
 "T10": {
    "Title": "Sorting mixed waste",
    "Desc": "Allows small organisations, such as charities, to sort recyclable waste so that it can be recovered.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t10-sorting-mixed-waste",
    "Farming": "No",
    "Waste": "Yes"
 },
 "T12": {
    "Title": "Manually treating waste",
    "Desc": "Sort, repair, refurbish or dismantle waste for reuse or recovery.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t12-manually-treating-waste",
    "Farming": "No",
    "Waste": "Yes"
 },
 "T13": {
    "Title": "Treating waste food",
    "Desc": "Recover waste food by decanting or unwrapping it and recovering the packaging.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t13-treating-waste-food",
    "Farming": "No",
    "Waste": "No"
 },
 "T14": {
    "Title": "Crushing and emptying vehicle waste oil filters",
    "Desc": "Recover oil from oil filters before they are crushed so they can be transported for recovery.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t14-crushing-and-emptying-vehicle-waste-oil-filters",
    "Farming": "Yes"
 },
 "T15": {
    "Title": "Treating waste aerosol cans",
    "Desc": "Treat aerosol cans by puncturing or crushing using specialist treatment equipment, so the metal can be recovered.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t15-treating-waste-aerosol-cans",
    "Farming": "No",
    "Waste": "Yes"
 },
 "T16": {
    "Title": "Treating waste toner and ink cartridges",
    "Desc": "Treat waste toner or ink cartridges by sorting, cleaning, dismantling or refilling them.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t16-treating-waste-toner-and-ink-cartridges",
    "Farming": "No",
    "Waste": "Yes"
 },
 "T17": {
    "Title": "Crushing waste fluorescent tubes",
    "Desc": "Treat waste fluorescent tubes and capture any mercury emissions before collection for recovery.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t17-crushing-waste-fluorescent-tubes",
    "Farming": "No",
    "Waste": "Yes"
 },
 "T18": {
    "Title": "Using flocculants to remove water from waste",
    "Desc": "Treat waste by using flocculants to remove water so that clay or water-based paints can be recovered.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t18-using-flocculants-to-remove-water-from-waste",
    "Farming": "No",
    "Waste": "No"
 },
 "T19": {
    "Title": "Physical and chemical treatment of waste edible oil and fat to produce biodiesel",
    "Desc": "Allows small-scale physical and chemical treatment of waste edible oils and fat to produce fuel.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t19-physical-and-chemical-treatment-of-waste-edible-oil-and-fat-to-produce-biodiesel",
    "Farming": "No",
    "Waste": "No"
 },
 "T20": {
    "Title": "Treating waste at a water treatment works",
    "Desc": "Treat certain waste at water treatment works to reduce the volume for transport, or to make it easier to handle for waste recovery.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t20-treating-waste-at-a-water-treatment-works",
    "Farming": "No",
    "Waste": "No"
 },
 "T21": {
    "Title": "Recover waste at a waste water treatment works",
    "Desc": "Recover waste, such as sludge from a septic tank or cesspool, which needs further treatment at a waste water treatment works.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t21-recover-waste-at-a-waste-water-treatment-works",
    "Farming": "No",
    "Waste": "No"
 },
 "T23": {
    "Title": "Aerobic composting and associated prior treatment",
    "Desc": "Compost small volumes of vegetation, cardboard and food waste to spread on soil to add nutrients or improve the structure.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t23-aerobic-composting-and-associated-prior-treatment",
    "Farming": "Yes",
    "Waste": "No"
 },
 "T24": {
    "Title": "Anaerobic digestion at premises used for agriculture and burning resulting biogas",
    "Desc": "Allows farmers to anaerobically digest manure, slurry and vegetation on their farms to produce digestate for use as a fertiliser or soil conditioner.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t24-anaerobic-digestion-at-premises-used-for-agriculture-and-burning-resulting-biogas",
    "Farming": "Yes",
    "Waste": "No"
 },
 "T25": {
    "Title": "Anaerobic digestion at premises not used for agriculture and burning resulting biogas",
    "Desc": "Treat food and other biodegradable waste by anaerobic digestion to produce digestate for use as a fertiliser, and burn the resulting biogas.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t25-anaerobic-digestion-at-premises-not-used-for-agriculture-and-burning-resulting-biogas",
    "Farming": "No",
    "Waste": "No"
 },
 "T26": {
    "Title": "Treatment of kitchen waste in a wormery",
    "Desc": "Allows very small-scale treatment of waste from kitchens using a wormery to produce compost, for use as a fertiliser or soil conditioner.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t26-treatment-of-kitchen-waste-in-a-wormery",
    "Farming": "No",
    "Waste": "No"
 },
 "T27": {
    "Title": "Treatment of sheep dip using organophosphate-degrading enzyme",
    "Desc": "Allows organophosphate sheep dip to be treated with an approved organophosphate-degrading enzyme.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t27-treatment-of-sheep-dip-using-organophosphate-degrading-enzyme",
    "Farming": "Yes",
    "Waste": "No"
 },
 "T28": {
    "Title": "Sort and denature controlled drugs for disposal",
    "Desc": "Allows pharmacies and similar places to denature controlled drugs, in order to comply with Misuse of Drugs Regulations 2001.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t28-sort-and-denature-controlled-drugs-for-disposal",
    "Farming": "No",
    "Waste": "No"
 },
 "T29": {
    "Title": "Treatment of non-hazardous pesticide washings by carbon filtration for disposal",
    "Desc": "Treat non-hazardous pesticide washings before disposing of them to land, making them less likely to damage the environment.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t29-treatment-of-non-hazardous-pesticide-washings-by-carbon-filtration-for-disposal",
    "Farming": "Yes",
    "Waste": "No"
 },
 "T30": {
    "Title": "Recover silver",
    "Desc": "Recover silver from waste produced in connection with printing or photographic processes.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t30-recover-silver",
    "Waste": "No"
 },
 "T31": {
    "Title": "Recover monopropylene glycol from aircraft antifreeze fluids",
    "Desc": "Allows airports to filter and distill waste aircraft antifreeze fluid to recover monopropylene glycol.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t31-recover-monopropylene-glycol-from-aircraft-antifreeze-fluids",
    "Farming": "No",
    "Waste": "No"
 },
 "T32": {
    "Title": "Treatment of waste in a biobed or biofilter",
    "Desc": "Treat non-hazardous pesticide washings in a biobed or biofilter.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t32-treatment-of-waste-in-a-biobed-or-biofilter",
    "Farming": "No",
    "Waste": "No"
 },
 "T33": {
    "Title": "Recover central heating oil by filtration",
    "Desc": "Filter central heating oil from disused tanks so that it can be reused.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-t33-recover-central-heating-oil-by-filtration",
    "Farming": "No",
    "Waste": "No"
 },
 "D1": {
    "Title": "Depositing waste from dredging inland waters",
    "Desc": "Deposit dredging spoil (dredgings) on the banks of the waters it was dredged from, and treat it by screening and removing water.",
    "URL": "https://www.gov.uk/guidance/waste-exemptions-disposing-of-waste",
    "Farming": "Yes",
    "Waste": "No"
 },
 "D2": {
    "Title": "Depositing waste from a railway sanitary convenience",
    "Desc": "Allows older rolling stock not fitted with appropriate collection facilities to deposit sanitary waste onto the track.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-d2-depositing-waste-from-a-railway-sanitary-convenience",
    "Farming": "No",
    "Waste": "No"
 },
 "D3": {
    "Title": "Depositing waste from a portable sanitary convenience",
    "Desc": "Allows the burial of waste from a portable toilet, to avoid long-distance transportation of small quantities of waste to sewage treatment works.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-d3-depositing-waste-from-a-portable-sanitary-convenience",
    "Farming": "No",
    "Waste": "No"
 },
 "D4": {
    "Title": "Depositing agricultural waste consisting of plant tissue under a Plant Health Notice",
    "Desc": "Dispose of diseased crops where they were grown when a Plant Health Notice has been issued, to reduce the risk of spreading plant diseases or pests.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-d4-depositing-agricultural-waste-consisting-of-plant-tissue-under-a-plant-health-notice",
    "Farming": "Yes",
    "Waste": "No"
 },
 "D5": {
    "Title": "Depositing waste samples for testing or analysis",
    "Desc": "Deposit and store waste samples when required to comply with or enforce specified regulations, or before testing and analysis for research.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-d5-depositing-waste-samples-for-testing-or-analysis",
    "Farming": "No",
    "Waste": "No"
 },
 "D6": {
    "Title": "Disposal by incineration",
    "Desc": "Dispose of small amounts of specific waste that have been produced on site in an incinerator.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-d6-disposal-by-incineration",
    "Farming": "No",
    "Waste": "No"
 },
 "D7": {
    "Title": "Burning waste in the open",
    "Desc": "Burn plant tissue and untreated wood waste from joinery or manufacturing in the open air.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-d7-burning-waste-in-the-open",
    "Farming": "Yes",
    "Waste": "No"
 },
 "D8": {
    "Title": "Burning waste at a port under a Plant Health Notice",
    "Desc": "Burn plant tissue waste, wood packaging and packing material waste at a port when a Plant Health Notice has been issued, to prevent the spread of plant diseases.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-d8-burning-waste-at-a-port-under-a-plant-health-notice",
    "Farming": "No",
    "Waste": "No"
 },
 "S1": {
    "Title": "Storing waste in secure containers",
    "Desc": "Store specific waste in secure containers at an intermediate site, separate to where the waste was produced, before transportation to another site for recovery.",
    "URL": "https://www.gov.uk/guidance/waste-exemptions-storing-waste",
    "Farming": "No",
    "Waste": "Yes"
 },
 "S2": {
    "Title": "Storing waste in a secure place",
    "Desc": "Store specific waste at a secure intermediate site, separate to where the waste was produced, before transportation to another site for recovery.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-s2-storing-waste-in-a-secure-place",
    "Farming": "No",
    "Waste": "Yes"
 },
 "S3": {
    "Title": "Storing sludge",
    "Desc": "Store sewage sludge at a site where it will be used in accordance with the Sludge (Use in Agriculture) Regulations 1989.",
    "URL": "https://www.gov.uk/guidance/waste-exemption-s3-storing-sludge",
    "Farming": "Yes",
    "Waste": "No"
 }
}

-%}
