
{% extends "layout.html" %}

{% block pageTitle %}
  You need a new registration number
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/start" method="post" class="form">
        <h2 class="govuk-heading-xl">You need a new registration</h2>
        <p>Your waste exemption registration has expired. You will need a new registration.</p>
       
        <button type="submit" class="govuk-button">
          Start a new registration
        </button>
      </form>
    </div>
  </div>

{% endblock %}
