
{% extends "layout.html" %}

{% block pageTitle %}
  Confirm your waste exemption registration details
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form action="declaration" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="govuk-fieldset__heading">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Confirm your waste exemption registration details
              </h1>
            </legend>
<table summary="check-details-summary-0"
         class="govuk-table summary-table" role="presentation"
         id="check-details-yourcontactdetails-0"
         caption="summary of registration details">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" role="row">
        <th class="govuk-table__header" colspan="3" class="bold-small" role="columnheader">Your contact details</th>
      </tr>
      <tr>
        <td class="govuk-table__cell">Your name</td>
        <td class="govuk-table__cell">Charles Windsor</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Your business telephone number</td>
        <td class="govuk-table__cell">0117923443</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Your business email</td>
        <td class="govuk-table__cell">hrh.c.windsor@palace.org</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
    </tbody>
  </table>
  <table summary="check-details-summary-1"
         class="govuk-table summary-table" role="presentation"
         id="check-details-businessdetails-1"
         caption="summary of registration details">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" role="row">
        <th class="govuk-table__header" colspan="3" class="bold-small" role="columnheader">Business details</th>
      </tr>
      <tr class="govuk-table__row"> 
        <td class="govuk-table__cell">Business or organisation type</td>
        <td class="govuk-table__cell">Individual</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Person responsible for the waste operation</td>
        <td class="govuk-table__cell">Charles Windsor</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
      <tr class="govuk-table__row">  
        <td class="govuk-table__cell">Address of the person responsible</td>
        <td class="govuk-table__cell">Buckingham Palace, London, SW1A 1AA</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
    </tbody>
  </table>
  <table summary="check-details-summary-2"
         class="govuk-table summary-table" role="presentation"
         id="check-details-wasteoperationcontact-2"
         caption="summary of registration details">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row" role="row">
        <th class="govuk-table__header" colspan="3" class="bold-small" role="columnheader">Waste operation contact</th>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Name</td>
        <td class="govuk-table__cell">Charles Windsor</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
      <tr class="govuk-table__row">   
        <td class="govuk-table__cell">Telephone number</td>
        <td class="govuk-table__cell">01179488422</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Address</td>
        <td class="govuk-table__cell">Buckingham Palace, London, SW1A 1AA</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Email</td>
        <td class="govuk-table__cell">hrh.c.windsor@palace.org</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
    </tbody>
  </table>
  <table summary="check-details-summary-3"
         class="govuk-table summary-table" role="presentation"
         id="check-details-wasteoperationdetails-3"
         caption="summary of registration details">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row"role="row">
        <th class="govuk-table__header" colspan="3" class="bold-small" role="columnheader">Waste operation details</th>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Waste operation location</td>
        <td class="govuk-table__cell">Buckingham Palace, London, SW1A 1AA</td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Waste exemption</td>
        <td class="govuk-table__cell"><a href="https://www.gov.uk/guidance/waste-exemption-s2-storing-waste-in-a-secure-place" target="_blank">S2: Storing waste in a secure place</a></td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Waste exemption</td>
        <td class="govuk-table__cell"><a href="https://www.gov.uk/guidance/waste-exemption-u9-using-waste-to-manufacture-finished-goods" target="_blank">U9: Using waste to manufacture finished goods</a></td>
        <td class="govuk-table__cell"><a href="#">Change</a></td>
      </tr>
    </tbody>
  </table>
          </fieldset>
        </div>
        
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
