ol.govuk-list {
  margin-left: 30px;
}

.list-item--dashed::before {
  content: '— ';
  margin-left: -25px;
  padding-right: 5px;
}

caption.guidance-table-header {
  font-size: 24px;
  margin-top: 60px;
}

table.govuk-table .guidance-table {
  .govuk-table__header,
  .govuk-table__cell {
    padding-top: 25px;
  }
}

.guidance-table-one-column {
  .govuk-table__cell {
    padding-top: 25px;
  }
}

.govuk-checkboxes__label {
  font-weight: bold;
}

.guidance-checkbox {
  vertical-align: top;
}

h4.guidance-heading {
  margin: 0;
}

.guidance-table-one-column {
  p {
    margin-left: 55px;
    margin-top: 0x;
  }
}

#start-summary {
  .govuk-summary-list {
    &__key {
      vertical-align: top;
      width: 20%;
    }

    &__value {
      vertical-align: top;
      width: 60%;
    }
  }

}
