{% set pageHead = "What is your telephone number?" %}

{% extends "layout.html" %}

{% block pageTitle %}
  {{ pageHead }}
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ formAction if formAction else data.formAction }}" method="post" class="form">

        <h1 class="govuk-heading-l">{{ pageHead }}</h1>

        {{ govukInput({
          label: {
            text: "Telephone number"
          },
          hint: {
            text: "This can be a landline or mobile"
          },
          classes: "govuk-input--width-10",
          id: "appTelephoneNumber",
          name: "appTelephoneNumber",
          value: data.appTelephoneNumber
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
