
{% extends "layout.html" %}

{% block pageTitle %}
  In which country will this waste operation take place?
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="{{ formAction if formAction else data.formAction }}" method="post" class="form">

        <h1 class="govuk-heading-l">Check your answers before completing your registration</h1>

         <p class="govuk-body">We will send a copy of this summary in a confirmation email</p>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
         <h2 class="govuk-heading-m">You told us</h2>
         <p>the waste operation will take place in <strong>{{ data.countryChoice }}</strong></p>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
         <h2 class="govuk-heading-m">Your details</h2>
         <ul class="govuk-list govuk-list--bullet">
           <li>your name is <strong>{{ data.appFirstName }} {{ data.appLastName }}</strong></li>
           <li>your phone number is <strong>{{ data.appTelephoneNumber }}</strong></li>
           <li>your email is <strong>{{ data.appEmail }}</strong></li>
         </ul>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
         <h2 class="govuk-heading-m">Operator details</h2>
         <ul class="govuk-list govuk-list--bullet">
           <li>the operator is a <strong>{{ data.operatorType|lower }}</strong></li>
           <li>the company name is <strong>{{ data.opLtdCompanyName }}</strong></li>
           <li>the Companies House number is <strong>{{ data.opLtdCompanyRegNumber }}</strong></li>
         </ul>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
         <h2 class="govuk-heading-m">Operator address</h2>
          <p class="govuk-body">
          {{data.opLtdCompanyAddress}}<br>
          {{data.opLtdCompanyPostcode}}
          </p>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
         <h2 class="govuk-heading-m">Contact details</h2>
         <ul class="govuk-list govuk-list--bullet">
           <li>the contact's name is <strong>{{ data.opFirstName }} {{ data.opLastName }}</strong></li>
           <li>the contact's position is <strong>{{ data.opContactPosition if data.opContactPosition else "not given" }}</strong></li>
           <li>the contact's phone number is <strong>{{ data.opContactTelephone }}</strong></li>
           <li>the contact's email is <strong>{{ data.opContactEmail }}</strong></li>
         </ul>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
         <h2 class="govuk-heading-m">Contact address</h2>
         <p class="govuk-body">
         {{ data.opContactAddress }}<br>
         {{ data.opContactPostcode }}
         </p>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
         <h2 class="govuk-heading-m">Farming information</h2>
         <ul class="govuk-list govuk-list--bullet">
           <li>the operation <strong>will{{ "" if data.isFarm=="yes" else " not" }}</strong> take place on a farm</li>
           <li>the operator <strong>is{{ "" if data.isFarmer=="yes" else " not" }}</strong> a farmer</li>
         </ul>

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
         <h2 class="govuk-heading-m">Site location</h2>
         <ul class="govuk-list govuk-list--bullet">
           <li>the site is located at grid reference <strong>{{ data.siteGridRef }}</strong></li>
           <li>the site description is <strong>{{ data.siteDescription }}</strong></li>
         </ul>


         {% from "./json/exemption-json.html" import exemptions %}

         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
         <h2 class="govuk-heading-m">Selected exemptions</h2>
         <ul class="govuk-list govuk-list--bullet">
           {% for code in data.Exemptions %}

               {% for exCode, exData in exemptions %}
                  {% if( code==exCode ) %}
                      <li>{{ exCode }} {{ exData.Title }}</li>
                  {% endif %}
               {% else %}
                 <p>No data</p>
               {% endfor %}

           {% else %}
             <p>No exemptions selected</p>
           {% endfor %}
         </ul>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
