{% set pageHead = "Where will this waste operation take place?" %}

{% extends "layout.html" %}

{% block pageTitle %}
  {{ pageHead }}
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ formAction if formAction else data.formAction }}" method="post" class="form">

        <h1 class="govuk-heading-l">{{ pageHead }}</h1>

        {{ govukInsetText({
          html: '<strong>Enter a grid reference or <a href="site-postcode">use an address instead</a><strong>'
        }) }}

        {{ govukInput({
          label: {
            text: "National Grid reference"
          },
          hint: {
            text: "Enter 2 letters and 10 digits. For example, ST 58132 72695"
          },
          classes: "govuk-input--width-10",
          id: "siteGridRef",
          name: "siteGridRef",
          value: data.siteGridRef
        }) }}


        {{ govukDetails({
          summaryText: "Help finding a grid reference",
          html: '
            <p class="govuk-body">Use the free <a target="_blank" href="http://gridreferencefinder.com/">UK Grid Reference Finder (opens new window).</a></p>
            <ol class="govuk-list govuk-list--number">
              <li>Search for the location or postcode on the left of the page.</li>
              <li>Right-click to display the grid reference.</li>
              <li>Select the grid reference then copy and paste back on this page.</li>
            </ol>
          '
        }) }}


        {{ govukTextarea({
          name: "siteDescription",
          id: "siteDescription",
          value: data.siteDescription,
          label: {
            text: "Site details"
          },
          rows: "4",
          attributes:{
            style:"width:50%;margin-bottom:0;"
            },
          hint: {
            html: '
              <p class="govuk-body" style="color:#6f777b;margin-bottom:0.3em;">Useful information includes:</p>
              <ul class="govuk-list govuk-list--bullet" style="color:#6f777b">
                <li>nearby landmarks</li>
                <li>description of the site</li>
                <li>man-made features, for example roads, walls or buildings</li>
                <li>natural features, for example rivers, trees or hedges</li>
              </ul>
            '
          }
        }) }}

        <p class="govuk-body">500 character limit</p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
