
{% extends "layout.html" %}

{% block pageTitle %}
  Your email address
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/send-email-check" method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="govuk-fieldset__heading">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Your email address
              </h1>
            </legend>
            <p>We will send a sign-in link to the contact email address you provided:</p>
            <p><strong>e********e@hotmail.com</strong></p>
            <h2 class="govuk-heading-m">Do you still have access to this email account?</h2>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="email-correct-1" name="emailCorrect" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="email-correct-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="email-correct-2" name="emailCorrect" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="email-correct-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <button type="submit" class="govuk-button">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
