
{% extends "layout.html" %}

{% block pageTitle %}
  Waste Exemptions Renewals Prototype
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="#" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Edit WEX000058 registration
      </h1>
      <p>Use the links below to make changes to this registration. Changes will <strong>not</strong> be applied until you hit the continue button at the bottom of the page.</p>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You must sign these changes by using the 'continue' button.
        </strong>
      </div>
      <h2 class="govuk-heading-m">Where operation is taking place</h2>
      <dl class="govuk-summary-list govuk-!-padding-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location
          </dt>
          <dd class="govuk-summary-list__value">
            England
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> location</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Applicant details</h2>
      <dl class="govuk-summary-list govuk-!-padding-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First Name
          </dt>
          <dd class="govuk-summary-list__value">
            Peter
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> first name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last Name
          </dt>
          <dd class="govuk-summary-list__value">
            Deloitte
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> last name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            01179288332
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> phone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            peter080889@hotmail.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Operator details</h2>
      <dl class="govuk-summary-list govuk-!-padding-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            Luke
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> operator first name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            James
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> operator last name</span>
            </a>
          </dd>
        </div><div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            Individual or sole trader
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> business or organisation type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            UNIT 226B<br />
            CORONATION DRIVE<br />
            EASTON TRADING ESTATE<br />
            BRISTOL<br />
            BS2 4AD

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> location</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Contact details</h2>
      <dl class="govuk-summary-list govuk-!-padding-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            Luke
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> contact first name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Position
          </dt>
          <dd class="govuk-summary-list__value">
            Senior Waste Operative
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> contact position</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            James
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> contact last name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phone number
          </dt>
          <dd class="govuk-summary-list__value">
            01179288332
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> contact phone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            01179288332
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> contact email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            UNIT 226B<br />
            CORONATION DRIVE<br />
            EASTON TRADING ESTATE<br />
            BRISTOL<br />
            BS2 4AD

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> location</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">Site address</h2>
      <dl class="govuk-summary-list govuk-!-padding-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            UNIT 226B<br />
            CORONATION DRIVE<br />
            EASTON TRADING ESTATE<br />
            BRISTOL<br />
            BS2 4AD

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> location</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Exemptions</h2>
      <dl class="govuk-summary-list govuk-!-padding-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            D1
          </dt>
          <dd class="govuk-summary-list__value">
            Depositing waste from dredging inland waters
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> exemption D1</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            U8
          </dt>
          <dd class="govuk-summary-list__value">
            Using waste for a specified purpose
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> exemption U8</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            T1
          </dt>
          <dd class="govuk-summary-list__value">
            Cleaning, washing, spraying or coating relevant waste
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> exemption T1</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            S3
          </dt>
          <dd class="govuk-summary-list__value">
            Storing sludge
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> exemption S3</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">Farming information</h2>
      <dl class="govuk-summary-list govuk-!-padding-bottom-5">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Operative is a farmer
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change
              <span class="govuk-visually-hidden"> farmeriness</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Operation is on a farm
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
                <span class="govuk-visually-hidden"> farm location</span>
              </a>
            </dd>
        </div>
      </dl>

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </div>
  </div>

{% endblock %}
