
<html>

<head>
  <title>
    Renew your waste exemptions - expiring 1 June 2019
  </title>
</head>
<body>

{% block content %}
<div style="margin: 0, auto; padding: 30px; max-width: 600px;">
<!-- email content starts -->

<table width="100%" style="color:rgb(0, 0, 0);font-family:Arial;background-color:rgb(0, 0, 0);margin-bottom:20pt;">
    <tbody>
        <tr>
            <td><img src="/public/images/gov-uk-logo.png"></td>
        </tr>
    </tbody>
</table>

<div style="margin-top:12pt;margin-bottom:0pt;">
    <font face="Arial" size="4">Dear Christine Hayes</font>
</div>

<div style="margin-top:12pt;margin-bottom:0pt;">
    <font face="Arial" size="6"><b>You must renew your waste exemptions by 5 August 2019</b></font>
</div>

<div style="margin-top:12pt;margin-bottom:0pt;">
    <font face="Arial" size="4">If your details are the same, you can renew in a few minutes.<br>
      Renewals are free.</font>
</div>

<div style="margin-top:12pt;margin-bottom:0pt;">
    <font face="Arial" size="4"><b>Renew online at:<br><a href="renew-check-answers">https://wasteexemptions.service.gov.uk/renew/124d7abfc2d1c1b</a></b></font>
</div>

<div style="margin-top:12pt;margin-bottom:0pt;">
    <font face="Arial" size="4">If you no longer carry out these waste operations, you do not need to do anything. You will get one more reminder which you can also ignore.</font>
</div>

<div style="margin-top:12pt;margin-bottom:0pt;">
    <font face="Arial" size="4">Site: HILL FARM, BURRINGTON,  BRISTOL BS40 7AX</font>
</div>

<div style="margin-top:12pt;margin-bottom:0pt;">
    <font face="Arial" size="4">
        Your current exemptions:<br>
          <ul>

                    <li>U4 Burning of waste as a fuel in a small appliance</li>

                    <li>U8 Using waste for a specified purpose</li>

                    <li>T6 Treating waste wood and waste plant matter by chipping, shredding, cutting or pulverising</li>

                    <li>T23 Aerobic composting and associated prior treatment</li>

                    <li>D7 Burning waste in the open</li>

      </ul>

      <p>Exemptions guidance:</p>
        <p>
          Using waste:<br><a href="https://www.gov.uk/government/collections/waste-exemptions-using-waste">https://www.gov.uk/government/collections/waste-exemptions-using-waste</a><br>
        Treating waste:<br> <a href="https://www.gov.uk/government/collections/waste-exemptions-treating-waste">https://www.gov.uk/government/collections/waste-exemptions-treating-waste</a><br>
        Disposing of waste:<br> <a href="https://www.gov.uk/government/collections/waste-exemptions-disposing-of-waste">https://www.gov.uk/government/collections/waste-exemptions-disposing-of-waste</a><br>
        Storing waste:<br> <a href="https://www.gov.uk/government/collections/waste-exemptions-storing-waste">https://www.gov.uk/government/collections/waste-exemptions-storing-waste</a></p>



    </font>
</div>

<div style="margin-top:12pt;margin-bottom:0pt;">
    <font face="Arial" size="4">Registration number: WEX033970</font>
</div>

<div style="font-family:Arial;max-width:600px;">
    <div style="margin-top:30pt;margin-bottom:10pt;">
        <img width="200" height="57" alt="" src="/public/images/ea_logo_sm.png">
    </div>
</div>

<div style="margin-top:12pt;margin-bottom:0pt;">
    <font face="Arial" size="4">Environment Agency<br>
      Telephone 03708 506 506, Monday to Friday (8am to 6pm)<br>
      <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></font>
</div>

<div style="margin-top:12pt;margin-bottom:0pt;">
    <font face="Arial" size="4">This is an automated email, please do not reply.</font>
</div>

<div style="margin-top:12pt;margin-bottom:0pt;">
    <font face="Arial" size="4">&nbsp;</font>
</div>

<!-- email content ends -->
</div>
{% endblock %}

</body>
</html>
