
{% extends "layout.html" %}

{% block pageTitle %}
  Declaration
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/declaration-check" method="post" class="form">
        <h2 class="govuk-heading-xl">Declaration</h2>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            You can be prosecuted and fined up to £5,000 if you give false or misleading information.
          </strong>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-1" name="declarationConfirm" type="checkbox" value="declared">
                <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                  I confirm that the information I have given is true, and I am authorised by the organisation carrying out the waster operation to give this information.
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <p><a href="https://wasteexemptions.service.gov.uk/pages/privacy" target="_blank">Privacy, how we use your personal information (opens in new tab)</a></p>

        <button type="submit" class="govuk-button">
          Confirm renewal
        </button>
      </form>
    </div>
  </div>

{% endblock %}
