
{% extends "layout.html" %}

{% block pageTitle %}
  Waste Exemptions Renewals Prototype
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="#" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Waste exemptions renewals prototype
      </h1>
      <p class="govuk-body-l">This is not the live service, the live service is <a href="https://wasteexemptions.service.gov.uk/">register your waste exemptions</a>. There is also <a href="https://www.gov.uk/guidance/register-your-waste-exemptions-environmental-permits">guidance on how to register</a>, which is currently considered the service start page.</p>
      <p class="govuk-body">This prototype is for testing new approaches to delivering the online part of the service, it contains the complete user journey as per the live service, as well as specific deviations where we are trying out a new approach. Details on how to access all of this can be found in the handy table below.</p>
      <table class="govuk-table">
        <caption class="govuk-table__caption">Versions and paths</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Version</th>
            <th class="govuk-table__header" scope="col">Location</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Vanilla journey (<a href="https://eaflood.atlassian.net/browse/RUBY-192">in development)</a></th>
            <td class="govuk-table__cell"><a href="/start">/start</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Address reuse</th>
            <td class="govuk-table__cell"><a href="/address-reuse/start">/address-reuse/start</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Exemption Guidance</th>
            <td class="govuk-table__cell">
              <a href="/guidance/start-summary">/guidance/start-summary</a>
<!--
              <h5>Older iterations</h5>
              <ul>
                <li><a href="/guidance/start-no-guidance">No guidance</a></li>
                <li><a href="/guidance/start-format">Inline guidance</a></li>
                <li><a href="/guidance/start-details">Guidance in <strong>Details</strong> pattern</a></li>
                <li><a href="/guidance/start">Simplified formating</a></li>
                <li><a href="/guidance/start">Full guidance displayed</a></li>
              </ul>
-->
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row"></th>
            <td class="govuk-table__cell"><a href="/guidance/start-details">/guidance/start-details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row"></th>
            <td class="govuk-table__cell"><a href="/startpage/guidance-treat">/startpage/guidance-treat</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">WEX AD privacy policy</th>
            <td class="govuk-table__cell"><a href="/registration/wex-ad-privacy-policy-text">/registration/wex-ad-privacy-policy-text</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">WCR AD privacy policy</th>
            <td class="govuk-table__cell"><a href="/registration/wcr-ad-privacy-policy-text">/registration/wcr-ad-privacy-policy-text</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Renewal from email</th>
            <td class="govuk-table__cell">
              <a href="/renewals/email-renew">/renewals/email-renew</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Renewal from the web</th>
            <td class="govuk-table__cell">
              <a href="/renewals/start">/renewals/start</a><br />
              <a href="/renewals/check-details">Magic link destination</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Edit (back office)</th>
            <td class="govuk-table__cell"><a href="/edit/index">/edit/index</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Start page</th>
            <td class="govuk-table__cell"><a href="/startpage/accordion">/startpage/accordion</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row"></th>
            <td class="govuk-table__cell"><a href="/startpage/button">/startpage/button</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
