
{% extends "layout.html" %}

{% block pageTitle %}
  Waste Exemptions Renewals Prototype
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="#" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Waste exemptions prototype
      </h1>
      <p class="govuk-body-l">This is not the live service, the live service is <a href="https://wasteexemptions.service.gov.uk/">register your waste exemptions</a>. There is also <a href="https://www.gov.uk/guidance/register-your-waste-exemptions-environmental-permits">guidance on how to register</a>, which is currently considered the service start page.</p>
      <p class="govuk-body">This prototype is for testing new approaches to delivering the online part of the service, it contains the complete user journey as per the live service, as well as specific deviations where we are trying out a new approach. Details on how to access all of this can be found in the handy table below.</p>


{% import "includes/macros.html" as macros %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<!-- ########################################################################### -->

      <h2 class="govuk-heading-m">
        Current research
      </h2>

      <p><a href="change-log">Change log v2 to v2.1</a></p>

      <p class="govuk-body">
        <a href="/prototype-admin/clear-data">Clear stored data</a>
      </p>

      <h3 class="govuk-heading-s">
        Research lab particpants
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "WEX 026 225", "/registration-v2-1/WEX026225" ) }}
        {{ macros.list( "WEX 047 274", "/registration-v2-1/WEX047274" ) }}
        {{ macros.list( "WEX 024 426", "/registration-v2-1/WEX024426" ) }}
        {{ macros.list( "WEX 055 034", "/registration-v2-1/WEX055034" ) }}
        {{ macros.list( "WEX 024 900", "/registration-v2-1/WEX024900" ) }}
        {{ macros.list( "WEX 033 970", "/registration-v2-1/WEX033970" ) }}
        {{ macros.list( "WEX 113 454", "/registration-v2-1/WEX113454" ) }}
        {{ macros.list( "WEX 142 263", "/registration-v2-1/WEX142263" ) }}
      </ul>

      <h3 class="govuk-heading-s">
        WEX renewal from email
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "Renew journey - company", "/registration-v2-1/sample-company" ) }}
        {{ macros.list( "Renew journey - individual", "/registration-v2-1/sample-individual" ) }}
        {{ macros.list( "Renew journey - partnership", "/registration-v2-1/sample-partnership" ) }}
      </ul>

      <h3 class="govuk-heading-s">
        Skanska
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "WEX 062 219", "/registration-v2-1/WEX062219" ) }}
        {{ macros.list( "WEX 137 539", "/registration-v2-1/WEX137539" ) }}
        {{ macros.list( "WEX 146 102", "/registration-v2-1/WEX146102" ) }}
        {{ macros.list( "WEX 152 443", "/registration-v2-1/WEX152443" ) }}
      </ul>


      <h3 class="govuk-heading-s">
        Remote sessions
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "WEX 155 754", "/registration-v2-1/WEX155754" ) }}
        {{ macros.list( "WEX 155 905", "/registration-v2-1/WEX155905" ) }}
        {{ macros.list( "WEX 155 967", "/registration-v2-1/WEX155967" ) }}
        {{ macros.list( "WEX 155 897", "/registration-v2-1/WEX155897" ) }}
        {{ macros.list( "WEX 064 386", "/registration-v2-1/WEX064386" ) }}
        {{ macros.list( "WEX 155 625", "/registration-v2-1/WEX155625" ) }}
        {{ macros.list( "WEX 155 541", "/registration-v2-1/WEX155541" ) }}
      </ul>


      <h3 class="govuk-heading-s">
        WEX renewal from GOV.UK
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "Renewal from GOV.UK", "/renewals/start" ) }}
        {{ macros.list( "Renewal from the web Magic link destination", "/renewals/check-details" ) }}
      </ul>




      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <!-- ########################################################################### -->

      <h2 class="govuk-heading-m">
        WEX renewal from email - round 1 research
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "Renew journey - company", "/registration-v2/sample-company" ) }}
        {{ macros.list( "Renew journey - individual", "/registration-v2/sample-individual" ) }}
        {{ macros.list( "Renew journey - partnership", "/registration-v2/sample-partnership" ) }}
      </ul>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <!-- ########################################################################### -->

      <h2 class="govuk-heading-m">
        WEX new registrations
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "Registration journey (happy path, company)", "/registration-v1/start" ) }}
        {{ macros.list( "Pre-load check your answers (for later use)", "/registration-v1/sample" ) }}
        {{ macros.list( "Registration journey (Liam's version, March 2019)", "/registration-liam/start" ) }}
      </ul>



      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <!-- ########################################################################### -->

      <h2 class="govuk-heading-m">
        Previous research
      </h2>

      <h3 class="govuk-heading-s">
        WEX renew from email
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "Renewal from email v1", "/renewals/email-renew" ) }}
        {{ macros.list( "Renewal from email v2", "/renewal-email-v2/email-renew" ) }}
        {{ macros.list( "Renewal from email v3", "/renewal-email-v3/email-renew" ) }}
      </ul>

      <h3 class="govuk-heading-s">
        AD privacy policy
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "WEX AD privacy policy", "/registration-liam/wex-ad-privacy-policy-text" ) }}
        {{ macros.list( "WCR AD privacy policy", "/registration-liam/wcr-ad-privacy-policy-text" ) }}
      </ul>

      <h3 class="govuk-heading-s">
        Backoffice revoke reason
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "Backoffice revoke reason", "/back-office/index" ) }}
      </ul>

      <h3 class="govuk-heading-s">
        WEX guidance
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "Exemption Guidance summary", "/guidance/start-summary" ) }}
        {{ macros.list( "Exemption Guidance details", "/guidance/start-details" ) }}
        {{ macros.list( "Exemption Guidance - treat", "/startpage/guidance-treat" ) }}
        {{ macros.list( "Older iterations: No guidance", "/guidance/start-no-guidance" ) }}
        {{ macros.list( "Older iterations: Inline guidance", "/guidance/start-format" ) }}
        {{ macros.list( "Older iterations: Guidance in Details pattern", "/guidance/start-details" ) }}
        {{ macros.list( "Older iterations: Simplified formating", "/guidance/start" ) }}
        {{ macros.list( "Older iterations: Full guidance displayed", "/guidance/start" ) }}
      </ul>


      <h3 class="govuk-heading-s">
        Other
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "Address reuse", "/address-reuse/start" ) }}
        {{ macros.list( "Edit (back office)", "/edit/index" ) }}
        {{ macros.list( "Start page accordion", "/startpage/accordion" ) }}
        {{ macros.list( "Start page button", "/startpage/button" ) }}
      </ul>

      <h2 class="govuk-heading-m">
        Testing
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        {{ macros.list( "New tab test", "/newtab/index" ) }}
      </ul>



    </div>
  </div>

{% endblock %}
