
{% extends "layout.html" %}

{% block pageTitle %}
  Your registration number
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back();" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#registration-number-error">You have entered a registration number that is not recognised</a>
            </li>
          </ul>
        </div>
      </div>

      <form action="/renew-check" method="post" class="form">
        <h2 class="govuk-heading-xl">Enter your registration number</h2>
        <p>Enter your waste exemptions registration number, and we will send you an email with a sign-in link.</p>
        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="registration-number">
            Registration number
          </label>
          <span id="registration-number-hint" class="govuk-hint">
            For example, WEX123456
          </span>
          <span id="registration-number-error" class="govuk-error-message">
            Enter your registration number
          </span>
          <input class="govuk-input govuk-input--width-10 govuk-input--error" id="registrationNumber" name="registrationNumber" type="text" aria-describedby="registration-number-hint">
        </div>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I cannot find my registration number
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Your registration number is on the email we sent you when you registered your exemptions, and your renewal letter.</p>
            <p>If you cannot find it, call the Environment Agency helpline on 03708 506506 (Monday to Friday, 8am to 6pm).</p>
          </div>
        </details>
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
    </div>
  </div>

{% endblock %}
